#ooshop{
	position: fixed;
	background-color: white;
	width: 100%;
	margin-top: -10px;
	border-bottom: 5px solid black;
	z-index: 10;
	height: 285px;
}

#start{
	position: relative;
	z-index: 1001;
}

#suggestions{
	margin-top: 274px;
}

a.link_product, img.product_image{
	width: 150px;
	height: 150px;
}

img.product_image{
	border: 5px solid black;
	border-radius: 5px;
	margin-top: 10px; 
}

#main{
	display: none;
}

#main.loading{
	opacity: .3;
}

.separator{
	margin-top: 10px;
	margin-bottom: 10px; 
	background-color:black; 
	width: 100%;
	height: 2px;
	border: 1px solid black;
}

.monoprix{
	display: inline-block;
	border: 1px solid gray;
	width: 400px;
}

.selected{
	background-color: green; 
}

.set_match{
	position: relative;
	top: -70px;
	right: -60px;
	height: 60px;
	background-color: beige;
}

#loading{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	z-index: 100;
	text-align: center;
}

#loading img{
	background-color: rgba(0,0,0,.4);
	border-radius: 50px;
	position: relative;
	top: 180px;
}

.navigation{
	display: inline-block;
	position: relative;
	top: -130px;
	left: 30px;
}

.navigation button{
	background-color: beige;
	height: 60px;
	width: 120px;
	margin-left: 120px;
}

#cancel{
	background-color: red;
	position: absolute;
	right: 120px;
	top: 100px;
}