/************************************************************************************************************************************
*
*															BASE
*
*************************************************************************************************************************************/

@font-face{
	font-family: FuturaStd;
	src: url('../fonts/FuturaStd-Bold.otf');
	font-weight: bold;
}

@font-face{
	font-family: FuturaStd;
	src: url('../fonts/FuturaStd-Medium.otf');
	font-weight: normal;
}

@font-face{
	font-family: FuturaStdCond;
	src: url('../fonts/FuturaStd-Condensed.otf');
	font-weight: bold;
}

@font-face{
	font-family: FuturaStdCond;
	src: url('../fonts/FuturaStd-CondensedLight.otf');
	font-weight: normal;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: white;
  color: #424242;
  padding: 0;
  margin: 0;
  font-family: "FuturaStd", Tahoma, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

object,
embed {
  height: 100%; }

img {
	border: none;
  -ms-interpolation-mode: bicubic; }

a {
	text-decoration: none;
}


/************************************************************************************************************************************
*
*															HEADER
*
*************************************************************************************************************************************/

.block{
	position: relative;
	width: 100%;
	min-width: 1024px;
	padding-left: 30px;
	padding-right: 30px;
}

.block-left{
	position: relative;
	padding: 0;
	display: inline-block;
	width: 85.7%;
	float: left;
}

.block-right{
	padding: 0;
	width: 14.3%;
	display: inline-block;
	position: relative;
	float: right;
}


header {
	margin-bottom: 7px;
}

header.top{
	position: fixed;
	top: 0px;
	z-index: 1988;
}

header.top #menu{
	top: 0px;
}

/* Hack : When header is in fixed position, sets a div with same width to fill gap */
header + div.gap{
	display: none;
	height: 127px;

}

header.top + div.gap{
	display: block;
}

#menu{
	background: white;
	position: relative;
	width: 100%;
	top: 7px;
	z-index: 1988;
}

#menu > div{
	background: white;
	width: 100%;
	height: 120px;
	top: 0px;
	position: relative;
}

#user-bar {
	width: 100%;
	min-width: 1024px;
	height: 32px;
	background-color: black;
}

#profile-button {
	display: block;
	float: right;
	height: 32px;
	margin-right: 10%;
}

.top-icon {
	float: right;
	color: white;
	font-weight: bold;
	margin-right: 8px;
	margin-top: 7px;
}

#top-icon-play{
	position: relative;
}

#main-logo-bar {
	width: 100%;
	min-width: 1024px;
	height: 100px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: white;
}

#main-logo-bar a {
	display: block;
	float: left;
	margin-top: 22px;
	margin-left: 2%;
}

#sub-bar {
	position: relative;
	top: 100px;
	height: 6px;
	width: 100%;
	background-image: url(../img/header/menu-bg.png);
}	

#menu ul.left {
    float: left !important;
	list-style: none;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 120px;
	margin-bottom: 0px;
	padding-left: 0%;
	margin-top: 0px;
}

#menu ul.left > li {
	float: left;
	width: 7.143%;
	font-size: 64%;
}

#menu ul.left .divider {
	position: relative;
	float: left;
	margin-left: -1px;
	margin-top: -1px;
	height: 85px;
	width: 0%;
	border-left: 1px solid #424242;
}

#menu ul.left li:first-child div.divider{
	visibility: hidden;
}

#menu div.mere {
	display: block;
	height: 85px;
	width: 100%;
	margin-top: 0px;
	padding: 1px 1% 0 1%;
}

#menu .sub-menu-panel {
	width: 14.3%;
	height: 35px;
	position: absolute;
	top: 85px;
	right: 0px;
	background-color: #60a026;
	/*display: none;*/
}

#menu .sub-menu-panel .dropdown > li {
	width: 50%;
}

#menu .dropdown div.sub-menu-panel-divider {
	position: relative;
	float: right;
	margin-right: -4px;
	margin-top: 0px;
	width: 3px;
	height: 35px;
	background-image: url(../img/header/sub-menu-green.png);
}

#menu p.level-2-active {
	font-weight: bold;
}

#menu .icone {
	margin: 0 auto;
	position: relative;
	top: 4px;
	width: 64px;
	height: 50px;
	background: url(../img/menu/sprites_menu.png);
}

		#menu .left li.has-dropdown div.icone.fruits-legumes {
					background-position: 0 0;
				}

		#menu .left li.has-dropdown div.icone.viandes-volaille-poissons {
			background-position: -64px 0;
		}

		#menu .left li.has-dropdown div.icone.cremerie {
			background-position: -128px 0;
		}

		#menu .left li.has-dropdown div.icone.surgeles {
			background-position: -192px 0;
		}

		#menu .left li.has-dropdown div.icone.traiteur-frais {
			background-position: -256px 0;
		}

		#menu .left li.has-dropdown div.icone.epicerie-sucree {
			background-position: -320px 0;
		}

		#menu .left li.has-dropdown div.icone.epicerie-salee {
			background-position: -384px 0;
		}

		#menu .left li.has-dropdown div.icone.boulangerie-patisserie {
			background-position: -448px 0;
		}

		#menu .left li.has-dropdown div.icone.boissons {
			background-position: -512px 0;
		}

		#menu .left li.has-dropdown div.icone.bebe {
			background-position: -576px 0;
		}

		#menu .left li.has-dropdown div.icone.beaute-hygiene {
			background-position: -640px 0;
		}

		#menu .left li.has-dropdown div.icone.maison-entretien {
			background-position: -704px 0;
		}

		#menu .left li.has-dropdown div.icone.economiser {
			background-position: -768px 0;
		}

		#menu .left li.has-dropdown.show div.icone.fruits-legumes {
			background-position: 0 50px;
		}

		#menu .left li.has-dropdown.show div.icone.viandes-volaille-poissons {
			background-position: -64px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.cremerie {
			background-position: -128px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.surgeles {
			background-position: -192px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.traiteur-frais {
			background-position: -256px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.epicerie-sucree {
			background-position: -320px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.epicerie-salee {
			background-position: -384px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.boulangerie-patisserie {
			background-position: -448px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.boissons {
			background-position: -512px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.bebe {
			background-position: -576px 50px;
		}

		.left li.has-dropdown.show div.icone.beaute-hygiene {
			#menu background-position: -640px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.maison-entretien {
			background-position: -704px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.economiser {
			background-position: -768px 50px;
		}






#menu ul.left p.name {
	color: #424242;
	line-height: 100%;
	text-align: center;
	max-width: 99%;
	text-transform: uppercase;
}

#menu li.has-dropdown{
	cursor: pointer;
}

#menu li.has-dropdown.show {
	background-color: #078bc9;
}

#menu ul.left li.has-dropdown.show p.name{
	color: white;
}

#menu .submenu {
	width: 85.7%;
	height: 35px;
	position: absolute;
	left: 0px;
	top: 85px;
	background-color: #078bc9;
	display: none;
}

#menu li.has-dropdown.show .submenu{
	display: block;
}

ul.dropdown {
	list-style: none;
	display: table;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

ul.dropdown div.divider {
	width: 0%;
	height: 26px;
	border-left: 1px solid #0676ab;
	position: relative;
	float: left;
	top: 5px;
}

ul.dropdown > li {
	position: relative;
	vertical-align: middle;
	display: table-cell;
	font-size: 130%;
}

ul.dropdown > li a {
	display: block;
	height: 35px;
	position: relative;
	top: 0px;
}

ul.dropdown a p {
	display: table-cell;
	vertical-align: middle;
	line-height: 100%;
	text-align: center;
	color: white;
	text-transform: capitalize;
}

ul.dropdown a div.vert-align-cont {
	height: 35px;
	width: 100%;
	position: relative;
	display: table;
	padding-left: 2px;
	padding-right: 2px;
}

ul.dropdown a p.active{
	font-weight: bold;
}

#menu li.has-dropdown p {
	color: white;
}

li.has-dropdown.show {
	background-color: #078bc9;
}

#menu .has-dropdown:not(.show):hover .mere{
	background-color: #efefef;
}

#menu .has-dropdown.show div.submenu{
	display: block;
}

#menu .has-dropdown.show div.submenu div.divider {
	width: 0%;
	height: 26px;
	border-left: 1px solid #0676ab;
	position: relative;
	float: left;
	top: 5px;
}

#menu .has-dropdown.show div.submenu ul.dropdown {
	visibility: visible;
}


/************************************************************************************************************************************
*
*															CONTENT PAGE (FILTERS/PRODUCTS)
*
*************************************************************************************************************************************/

#main{
	overflow-x: hidden;
}

/* Thin bar on top of products section */
.thin-bar {
	position: relative;
	top: 43px;
	width: 100%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.thin-bar > div {
	position: relative;
	width: 100%;
	height: 4px;
	background-color: #078bc9;
	top: 21px;
	z-index: 1984;
}

.thin-bar.promo > div {
	background-color: #da552a;
}


/* Products Area */
.category{
	width: 100%;
}

.products {
	width: 100%;
	min-height: 291px;
	position: relative;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 5px;
	overflow: hidden;
}

.products > p {
	text-transform: capitalize;
	position: relative;
	margin-left: 60px;
	margin-bottom: 5px;
	color: #078bc9;
	font-size: 120%;
	font-weight: bold;
}

.products > p.promotion{
	color: #da552a;
}

.products .inner.touch{
	position: relative;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

.products .inner.touch .products-container{
	width: 1225px;
	height: 227px;
}

/* Products*/
.product {
	position: relative;
	width: 20%;
	height: 227px;
	float: left;
	padding-right: 5px;
	margin-bottom: 5px;
}

.products .inner.touch .products-container .product{
	width: 175px;
}


/*Product bloc*/

.top-bloc {
	width: 100%;
	height: 205px;
	position: relative;
	background-color: white;
	text-align: center;
}

		.img-bloc img {
			position: relative;
			max-height: 138px;
			max-width: 150px;
			display: block;
			margin: 0 auto 0;
			top: 1px;
		}

		.img-bloc p {
			color: #da552a;
			font-weight: bold;
			font-size: 20px;
			float: right;
			position: absolute;
			right: 5px;
			top: -5px;
		}

	.top-bloc > p {
		color: #424242;
		font-family: FuturaStdCond;
		font-size: 14px;
		margin: 2px 0;
	}

	.top-bloc p:nth-child(2) {
		font-weight: bold;
		font-size: 16px;
	}

	.top-bloc p:nth-child(3) {
		position: absolute;
		margin: 0 0 0 3%;
		width: 83%;
		text-align: left;
	}

	.top-bloc p:nth-child(4) {
		position: absolute;
		bottom: 2px;
		margin-bottom: 0;
	}

	.qte {
		color: white;
		position: relative;
		text-align: center;
		font-size: 20px;
		bottom: -44px;
	}

		.qte div {
			background-color: #078bc9;
			width: 22px;
			height: 22px;
			position: absolute;
			right: 0;
		}

		.qte div.plus, .qte div.minus{
			cursor: pointer;
		}

		.qte div:nth-child(1) {
			top: -43px;
		}

		.qte div:nth-child(2) {
			top: -20px;
			font-size: 20px;
		}

		.qte div:nth-child(3) {

		}

		.qte div.bottom{
			top: 3px;
			z-index: 1987
		}

.price-bloc, .price-bloc-promo {
	width: 100%;
	height: 22px;
	position: relative;
	background-color: #9f9fa1;
	color: white;
	font-weight: bold;
}

	.price-bloc p, .price-bloc-promo p {
		display: inline-block;
		top: -13px;
		position: relative;
	}

	.price-bloc p:first-child {
		font-size: 16px;
		margin-left: 5px;
	}

	.price-bloc p:nth-child(2) {
		font-size: 12px;
		left: 5px;
	}

	.price-bloc-promo p:first-child {
		font-size: 16px;
		margin-left: 5px;
		text-decoration: line-through;
	}

	.price-bloc-promo p:nth-child(2) {
		font-size: 16px;
		left: 13px;
		color: #da552a;
	}

.product div.box {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 227px;
	float: left;
	border: 1px solid #e2e3e5;
}

.add-box {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 227px;
	background-color: #9f9fa1;
	float: left;
	color: white;
	font-size: 105px;
	text-align: center;
	padding-top: 50px;
	cursor: pointer;
}

@media only screen and (min-width: 1172px) {
	.product:last-child {
  		display: block;
	}

	.product{
		width: 16.667%;
	}

	.products .inner.touch .products-container .product{
		width: 175px;
	}
}

/************************************************************************************************************************************
*
*															COMPARATEUR
*
*************************************************************************************************************************************/


#comparator {
	width: 100%;
	position: relative;
}

#comparator.top{
	width: 14.3%;
	position: fixed;
	top: 120px;
	right: 22px;
	padding-right: 0.65%;
}

#osms {
	width: 100%;
	height: 230px;
	top: 25px;
	position: relative;
}

.osm {
	width: 100%;
	height: 40px;
	clear: left;
	top: 7px;
	position: relative;
	padding-right: 5px;
}

.osm.active {
	width: 100%;
	padding-right: 5px;
	height: 40px;
	clear: left;
	top: 7px;
	position: relative;
	background-color: #e2e3e5;
}

	.osm div, .osm.active div {
		display: inline-block;
		position: relative;
		float: left;
		height: 40px;
		top: 8px;
		margin-bottom: 15px; 
		background: url(../img/comparator/sprites_osm.png);
	}

		#auchan {
			width: 38px;
			background-position: 0 0;
			left: 6px;
			top: 0;
		}

		#ooshop {
			width: 52px;
			background-position: -38px 0;
			top: 0;
		}

		#monoprix {
			width: 48px;
			background-position: -90px 0;
			left: 2px;
			top: 0;
		}

	.osm p, .osm.active p {
		display: inline-block;
		position: relative;
		float: right;
		color: #424242;
		font-weight: bold;
		margin-bottom: 15px;
		margin-top: 12px;
	}

.ctl {
	width: 118px;
	border: 1px solid #5fb000;
	cursor: pointer;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	bottom: 35px;
	padding: 5px;
	background-color: #6ecb00;
	color: white;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #5fb000; }

@media only screen {
  .ctl {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out; }
    .ctl:active {
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }
}

/************************************************************************************************************************************
*
*															CART
*
*************************************************************************************************************************************/

/*#main-bis{
	position: absolute;
	width: 100%;
	min-width: 1024px;
	padding-left: 30px;
	padding-right: 30px;
	overflow-x: hidden;
	overflow-y: visible; 
}*/

#vert-bar {
	position: absolute;
	height: 750px;
	width: 4px;
	background-color: #60a026;
	top: 0px;
}

#cart-icone {
	position: relative;
	right: 58px;
	width: 59px;
	height: 118px;
	background: url(../img/cart/cart-container.png);
	top: -240px;
	cursor: pointer;
}

#cart-icone p {
			font-weight: bold;
			text-align: center;
			bottom: 16px;
			position: absolute;
			left: 22px;
			color: white;
		}

#cart {
	z-index: 2014;
	position: absolute;
	width: 400px;
	height: 800px;
	background-color: white;
	right: -396px; 
}

#cart div.scrollarea{
	height: 68%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.transition{
	transition: right 0.75s;
	-webkit-transition: right 0.75s;
}

#cart.top {
	position: fixed;
	right: -366px;
	top: 119px;
}

#cart.open:not(.top){
	right: -25px;

}

#cart.open.top{
	right: 0px;

}

/*#cart:hover {
	left: 0px;
}*/

#cart-recap-accordion {
	width: 100%;
	float: right;
	position: relative;
	padding-left: 35px;
}	

		#cart-recap-accordion .accordion-header p {
			color: #078bc9;
			font-weight: bold;
			display: inline-block;
			text-transform: capitalize;
		}

		#cart-recap-accordion .accordion-header div {
			position: relative;
			width: 100%;
			height: 2px;
			top: -10px;
			background-color: #078bc9;
		}

		.products-recap {
			width: 100%;
			position: relative;
			background-color: white;
			top: -10px;
		}

		.product-recap {
			width: 100%;
			border-bottom: 1px solid #9f9fa1;
			padding-top: auto;
			padding-bottom: auto;
			position: relative;
			height: 75px;
			padding-top: 10px;
		}

		.products-recap p.minus, .products-recap p.plus{
			cursor: pointer;
		}

			.products-recap .product-recap img {
				height: 50px;
				position: relative;
				top: -45px;
				display: block;
				left: 71%;
			}

			.products-recap .product-recap p {
				font-weight: bold;
				position: relative;
				display: inline-block;
				bottom: -30px;
			}

			.recap-price {
				margin-right: 36px;
			}

			.products-recap .product-recap span {
				position: relative;
				font-size: 65%;
			}

			.products-recap .product-recap span:first-child {
				font-weight: bold;
			}

			div.prod-desc {
				max-width: 70%;
				position: absolute;
			}


/************************************************************************************************************************************
*
*															FOOTER
*
*************************************************************************************************************************************/

footer {
	position: relative;
	width: 100%;
	min-width: 1024px;
	clear: both;
	height: 81px;
}

.footer-top {
	height: 48px;
	background-color: #212121;
	position: relative;
	width: 100%;
	min-width: 1024px;
	padding-left: 60px;
	padding-right: 60px;
}

.footer-container {
	height: 100%;
	position: relative;
	width: 33.333%;
	display: inline-block;
	float: left;
}

.mini-container {
	width: 50%;
	height: 100%;
	position: relative;
	display: inline-block;
	float: left;
}

	div.footer-top h2 {
		position: relative;
		top: 3px;
		font-size: 100%;
		text-align: center;
		font-weight: bold;
		color: white;
	}

	div.footer-top p {
		float: right;
		position: relative;
		font-size: 100%;
		top: -43px;
		margin-right: 10%;
		color: white;
	}

	#last-bullet {
		float: left;
		position: relative;
		font-size: 100%;
		top: 0px;
		margin-right: 10%;
		color: white;
	}

		div.footer-top h2 a {
			color: white;
		}

.social-widget {
	display: inline-block;
	list-style: none;
	float: left;
	position: relative;
	padding-left: 0px;
	top: -8px;
}

	.social-widget li {
		display: block;
		float: left;
		border: none !important;
		clear: none;
		line-height: 100%;
	}

		.social-widget li a {
			display: block;
			width: 32px;
			height: 32px;
			background-image: url(../img/footer/social_sprits_5px.png);
			background-position: 0px -42px;
		}

.footer-bottom {
	height: 35px;
	background-color: #000000;
	position: relative;
	width: 100%;
	min-width: 1024px;
	padding-left: 60px;
	padding-right: 60px;
}
	.footer-bottom ul.dropdown{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.footer-bottom ul.dropdown li {
		color: white;
		font-size: 11px;
		text-align: center;
	}

		.footer-bottom ul.dropdown li a {
			color: white;
			font-size: 11px;
			text-align: center;
			top: -1px;
			padding-top: 13px;
		}

#footer-int {
	width: 20%;
}

		.facebook_icon a {
			background-position: -5px -42px !important;
		}

		.facebook_icon a:hover {
			background-position: -5px -5px !important;
		}

		.twitter_icon a {
			background-position: -42px -42px !important;
		}

		.twitter_icon a:hover {
			background-position: -42px -5px !important;
		}

		.google_icon a {
			background-position: -79px -42px !important;
		}

		.google_icon a:hover {
			background-position: -79px -5px !important;
		}

		.linked_in_icon a {
			background-position: 74px -42px !important;
		}

		.linked_in_icon a:hover {
			background-position: 74px -5px !important;
		}


/*JQUERY UI */

.ui-state-disabled {
	cursor: pointer !important;
}

.ui-accordion .ui-accordion-header {
	cursor: pointer;
}

.ui-state-hover, .ui-state-active, .ui-state-focus {
	outline: none;
}

span.ui-accordion-header-icon {
	position: relative;
	float: right;
	top: 22px;
	background: url(../img/cart/play-blue.png);
	height: 7px;
	width: 13px;
	right: 10px;
}