/************************************************************************************************************************************
*
*															BASE
*
*************************************************************************************************************************************/

@font-face{
	font-family: FuturaStd;
	src: url('../fonts/FuturaStd-Bold.otf');
	font-weight: bold;
}

@font-face{
	font-family: FuturaStd;
	src: url('../fonts/FuturaStd-Medium.otf');
	font-weight: normal;
}


/************************************************************************************************************************************
*
*															HEADER
*
*************************************************************************************************************************************/



header {
	position: relative;
	margin-bottom: 7px;
	width: 100%;
	min-width: 1024px;
	padding-left: 30px;
	padding-right: 30px;
}

#menu{
	background: white;
	position: relative;
	width: 100%;
	top: 7px;
	z-index: 1988;
}

#menu > div{
	background: white;
	width: 100%;
	height: 120px;
	top: 0px;
	position: relative;
}

/*#menu.top{
	position: fixed;
	top: 0px;
}*/

#user-bar {
	width: 100%;
	min-width: 1024px;
	height: 32px;
	background-color: black;
}

#profile-button {
	display: block;
	float: right;
	height: 32px;
	text-decoration: none;
	margin-right: 10%;
}

.top-icon {
	float: right;
	color: white;
	font-weight: bold;
	margin-right: 8px;
	margin-top: 7px;
}

#main-logo-bar {
	width: 100%;
	min-width: 1024px;
	height: 100px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: white;
}

#main-logo-bar a {
	display: block;
	float: left;
	margin-top: 22px;
	margin-left: 2%;
}

#sub-bar {
	position: relative;
	top: 100px;
	height: 6px;
	width: 100%;
	background-image: url(../img/header/menu-bg.png);
}	

#menu ul.left {
    float: left !important;
	list-style: none;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 120px;
	margin-bottom: 0px;
	padding-left: 0%;
	margin-top: 0px;
}

#menu ul.left > li {
	float: left;
	width: 7.143%;
	font-size: 64%;
}

#menu ul.left .divider {
	position: relative;
	float: left;
	margin-left: -1px;
	margin-top: -1px;
	height: 85px;
	width: 0%;
	border-left: 1px solid #424242;
}

#menu ul.left li:first-child div.divider{
	visibility: hidden;
}

#menu div.mere {
	display: block;
	height: 85px;
	width: 100%;
	margin-top: 0px;
	padding: 1px 1% 0 1%;
	text-decoration: none;
}

/*#menu .show div.mere{
	background-color: red;
}*/

#menu .icone {
	margin: 0 auto;
	width: 64px;
	height: 54px;
}

#menu ul.left p.name {
	color: #424242;
	line-height: 100%;
	text-align: center;
	max-width: 99%;
	margin-top: 3px;
	margin-right: auto;
	margin-left: auto;
	text-transform: uppercase;
}

#menu li.has-dropdown.show {
	background-color: #078bc9;
}

#menu ul.left li.has-dropdown.show p.name{
	color: white;
}

#menu .submenu {
	width: 85.7%;
	height: 35px;
	position: absolute;
	left: 0px;
	top: 85px;
	background-color: #078bc9;
	/*display: none;*/
}

#menu .dropdown {
	list-style: none;
	float: left;
	margin-top: 20px;
	width: 100%;
	padding-left: 10px;
}

#menu .dropdown li {
	display: block;
	width: 100%;
	font-size: 120%;
	color: black;
	margin-top: 0;
	height: 30px;
	text-transform: capitalize;
}

#menu .dropdown li a {
	margin-top: 0px;
	text-decoration: none;
	color: white;
}

#menu li.has-dropdown p {
	color: white;
}

li.has-dropdown-actif {
	background-color: #078bc9;
}

#menu .has-dropdown:not(.show):hover .mere{
	background-color: #efefef;
}

#menu .has-dropdown.show div.submenu{
	display: block;
}

#menu .has-dropdown.show div.divider {
	width: 0%;
	height: 26px;
	border-left: 1px solid #0676ab;
	position: relative;
	float: left;
	top: 5px;
}

#menu .has-dropdown.show div.submenu ul.dropdown {
	visibility: visible;
}


/************************************************************************************************************************************
*
*															CONTENT PAGE (FILTERS/PRODUCTS)
*
*************************************************************************************************************************************/

#main{
	position: relative;
	width: 100%;
	min-width: 1024px;
	padding-left: 30px;
	padding-right: 30px;
}

.products {
	width: 85.6%;
	height: 290px;
	position: relative;
	top: -4px;
	margin-bottom: -4px;
	float: left;
	padding-left: 10px;
	padding-right: 5px;
	background-image: url(../img/header/filter.png);
	overflow: hidden;
}

.thin-bar-promo {
	position: relative;
	top: 43px;
	width: 85.6%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.thin-bar {
	position: relative;
	top: 43px;
	width: 85.6%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.thin-bar-promo > div {
	position: relative;
	width: 100%;
	height: 4px;
	background-color: #da552a;
	top: 25px;
	z-index: 1988;
}

.thin-bar > div {
	position: relative;
	width: 100%;
	height: 4px;
	background-color: #078bc9;
	top: 25px;
	z-index: 1988;
}

.products > p {
	text-transform: capitalize;
	position: relative;
	margin-left: 60px;
	margin-bottom: 5px;
	top: 20px;
	color: #078bc9;
	font-size: 120%;
	font-weight: bold;
}

.product {
	position: relative;
	top: 25px;
	width: 20%;
	height: 222px;
	float: left;
	padding-right: 5px;
}

.product:last-child {
	position: relative;
	top: 25px;
	width: 16.585%;
	height: 222px;
	float: left;
	display: none;
}

.box {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 222px;
	background-color: orange;
	float: left;
}

@media only screen and (min-width: 1172px) {
	.product:last-child {
  		display: block;
	}

	.product {
		width: 16.585%;
	}

}

/************************************************************************************************************************************
*
*															COMPARATEUR
*
*************************************************************************************************************************************/

#comparator {
	width: 14.4%;
	height: 580px;
	position: relative;
	top: -4px;
	margin-bottom: -4px;
	float: right;
	padding-left: 5px;
	padding-right: 5px;
	background-color: blue;
}


/************************************************************************************************************************************
*
*															SOCIAL LINKS
*
*************************************************************************************************************************************/
.social-widget{
	display: inline-block;

}
.social-widget ul{
	margin: 6px 0 0 !important;
	padding: 0px;
	display: inline;
}

.social-widget ul li{
	padding: 0 2px 0 0;
	margin: 0;
	display: inline-block;
	zoom: 1;
	border: none !important;
	clear: none;
	line-height: 100%;
}

.social-widget a{
	text-decoration: none;
}

.links-list{
	list-style-type: none;
}

.links-list li a{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../img/footer/social_sprits_5px.png');
	background-position: 0px -42px;
}

.facebook_icon a{
	background-position: -5px -42px !important;
}

.facebook_icon a:hover{
	background-position: -5px -5px !important;
}

.twitter_icon a{
	background-position: -42px -42px !important;
}

.twitter_icon a:hover{
	background-position: -42px -5px !important;
}

.google_icon a{
	background-position: -79px -42px !important;
}

.google_icon a:hover{
	background-position: -79px -5px !important;
}

.pinterest_icon a{
	background-position: -116px -42px !important;
}

.pinterest_icon a:hover{
	background-position: -116px -5px !important;
}

.linked_in_icon a{
	background-position: 74px -42px !important;
}

.linked_in_icon a:hover{
	background-position: 74px -5px !important;
}


/************************************************************************************************************************************
*
*															FOOTER
*
*************************************************************************************************************************************/

footer{
	font-family: Arial;
	overflow: hidden;
	width: 100%;
	box-shadow: 1px -1px 3px #ACACAC;
	color: white;
}

footer a, footer a:hover{
	color: inherit;
	text-decoration: none;
}

footer div.top{
	height: 48px;
	background-color: #212121;
}

footer div.top h2{
	font-size: 1.47em;
}

footer div.bottom{
	height: 33px;
	background-color: #000000;
	text-align: center;
	font-size: 0.67em;
}

footer div.bottom a, footer div.bottom span{
	color: white;
	text-decoration: none;
}

footer .top .container > div{
	height: 100%;
	display: inline-block;
	float: left;
	width: 49%;
}

footer .container{
	height: 100%;
	position: relative;
	top: -6px;
}

footer .bottom span:last-child{
	float: right;
}

footer .bottom .container{
	padding-top: 10px;
}

footer .top h2{
	text-align: center;
	font-weight: bold;
}

footer .social_bloc >h2{
	display: inline-block;
}

footer .blog p{
	width: 175px;
	margin: auto;
	font-weight: bold;
}

footer .social-widget{
	float: none;
	position: relative;
	top: 9px;
}

footer .blog{
	width: 24% !important;
}

footer .blog p{
	display: none;
}

footer .social_bloc{
	width: 50% !important;
	text-align: center;
}

footer .contact{
	width: 24% !important;
}

footer .separator{
	width: 1% !important;
}



