@font-face{
	font-family: FuturaStd;
	src: url('../fonts/FuturaStd-Bold.otf');
	font-weight: bold;
}

@font-face{
	font-family: FuturaStd;
	src: url('../fonts/FuturaStd-Medium.otf');
	font-weight: normal;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; }

html,
body {
	font-size: 100%; }

body {
	background: white;
	color: #424242;
	padding: 0;
	margin: 0;
	font-family: "FuturaStd", Tahoma, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative; }

img,
object,
embed {
	max-width: 100%;
	height: auto; }

object,
embed {
	height: 100%; }

img {
	-ms-interpolation-mode: bicubic;
	border: none;
}

a {
	text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, div {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-smooth: always;
}

.main-container {
	width: 100%;
	min-width: 1024px;
}

.block {
	padding-left: 30px;
	padding-right: 30px;
}

#top-bar {
	height: 32px;
	background-color: black;
}

	#top-bar a {
		display: block;
		float: right;
		height: 32px;
		margin-right: 10%;
	}

		.top-icon {
			float: right;
			color: white;
			font-weight: bold;
			margin-right: 8px;
			margin-top: 7px;
		}

		#beta {
			position: relative;
			float: left;
			left: 15px;
			top: -5px;
		}

#logo-bar {
	height: 100px;
	background-color: white;
}

	#logo-bar a {
		display: block;
		float: left;
		margin-top: 22px;
		margin-left: 2%;
	}


/* Slide Show */

section#cta-container {
	height: 260px;
}

#cta-container a:nth-child(2) {
	position: relative;
	float: right;
	right: 3%; 
	top: -140px;
}
#cta-container .message p {
	position: relative;
	font-size: 22px;
	font-weight: bold;
	line-height: 15px;
	width: 500px;
	left: 5%;
}

#gallery {
	width: 960px;
	overflow: hidden;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: -100px;
}
#slides {
	height:300px;
	width:960px;
	overflow:hidden;
}
.slide {
	float:left;
	width: 960px;
	margin-top: 30px;
}

.slide img{
	display: block;
	margin-left: 90px;
}
.slide p {
	top: -140px;
	font-size: 16px;
	left: 300px;
	width: 280px;
	position: relative;
	margin-left: 100px;
}
#menu {
	height:45px;
}
#slider-pagination {
	margin:0px;
	padding:0px;
}
#slider-pagination li {
	display:inline-block;
	list-style:none;
	overflow:hidden;
	margin-right: 10px;
	padding-left: 60px;
	width: 31.9%;
}
#slider-pagination li a {
	background-image: url(../images/home/hiw.png);
}
li.act a{
	cursor:pointer;
}
.menuItem a {
	display: block;
	height: 40px;
	width: 37px;
}
.menuItem a img{
	border:none;
	width: 37px;
	height: 40px;
}
.menuItem div {
	height: 20px;
	position: relative;
	top: -31px;
	left: 46px;
	font-size: 22px;
	font-weight: bold;
	margin-right: 40px;
	color: #666666;
}

#slider-pitch{
	height: 400px;
}
#slider-pagination li:first-child.act a {
	background-position: 0px 0px;	
}
#slider-pagination li:nth-child(3).act a {
	background-position: 37px 0px;	
}
#slider-pagination li:nth-child(2).act a {
	background-position: 74px 0px;	
}
#slider-pagination li:first-child a {
	background-position: 0px 40px;	
}
#slider-pagination li:nth-child(3) a {
	background-position: 37px 40px;	
}
#slider-pagination li:nth-child(2) a {
	background-position: 74px 40px;	
}
#slider-pagination li:nth-child(1).act div {
	color: #078bc9;	
}
#slider-pagination li:nth-child(3).act div {
	color: #63c20c;	
}
#slider-pagination li:nth-child(2).act div {
	color: #ff7800;	
}



 .cta {
	display: block;
	top: 110px;
	position: relative;
	left: 15%;
	z-index: 9;
	height: 50px;
	width: 190px;
	border-radius: 4px;
	background-color: #63c20c;
	color: white;
	text-align: center;
	padding-top: 17px;
	font-size: 17px;
	font-size: 15px;
	top: 50px;
	cursor: pointer;
}

.cta:hover {
	background-color: #51a10a;
}

.cta:active {
	background-color: #438409;
}

/* OSMS */

#separator {
	height: 1px;
	width: 60%;
	background-color: #e2e3e5;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.explanation {
	text-align: center;
	position: relative;
	top: 30px;
	font-size: 18px;
	margin-right: auto;
	margin-left: auto;
	width: 211px;
}

#osms {
	position: relative;
	width: 100%;
	height: 160px;
	margin-left: auto;
	margin-right: auto;
}

	#osms img {
		margin-right: auto;
		margin-left: auto;
		display: block;
	}

/* Pitch */

#pitch-container{
	margin-bottom: 80px;
}

#pitch {
	position: relative;
	width: 100%;
	top: 50px;
	margin-left: auto;
	margin-right: auto;
}

	#pitch img {
			margin-right: auto;
			margin-left: auto;
			display: block;
	}

	#pitch h3 {
		text-align: center;
	}

	#pitch p {
		margin: auto;
		width: 75%;
	}

/* Mentions legales*/
.ml-container{
	margin-left: 40px;
}

.ml-container p {
	margin-bottom: 50px;
	line-height: 1.2;
	margin-left: 20px;
}
.ml-container h1 {
	margin: 50px 0;
	color: #63c20c;
}

/*POP UP*/

.reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: black;
	background: rgba(0, 0, 0, 0.45);
	z-index: 98;
	display: none;
	top: 0;
	left: 0; }

.reveal-modal {
	visibility: hidden;
	display: none;
	position: absolute;
	z-index: 99;
	left: 28%;
	margin-left: 0;
	background-color: white;
	padding: 1.25em;
	top: 50px; }

	.reveal-modal > :first-child {
	margin-top: 0; }
	.reveal-modal > :last-child {
	margin-bottom: 0; }
	.reveal-modal .close-reveal-modal {
	font-size: 1.375em;
	line-height: 1;
	position: absolute;
	z-index: 10;
	top: 0.5em;
	right: 0.6875em;
	color: #aaaaaa;
	font-weight: bold;
	cursor: pointer; }

form {
	margin: 0 0 1em; 
	top: 24px;
	position: relative;
}

input[type="password"],
input[type="email"] {
	background-color: white;
	font-family: inherit;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 0.875em;
	margin: 0 0 1em 0;
	padding: 0.5em;
	height: 2.3125em;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out; 
}

	input[type="password"]:focus,
	input[type="email"]:focus {
	-webkit-box-shadow: 0 0 5px #999999;
	-moz-box-shadow: 0 0 5px #999999;
	box-shadow: 0 0 5px #999999;
	border-color: #999999; 
	}

	input[type="password"]:focus,
	input[type="email"]:focus {
	background: #fafafa;
	border-color: #999999;
	outline: none; 
	}

	input[type="password"][disabled],
	input[type="email"][disabled] {
	background-color: #dddddd; 
	}

#myModal {
	width: 480px;
	height: 455px;
	
}

#modal-header {
	height: 30px;
	border-bottom: 1px solid #e2e3e5;
	color: #424242;
	font-weight: bold;
	font-size: 22px;
	top: -5px;
	position: relative;
}

.form-container {
	width: 360px;
}

#sign-in {
	border-bottom: 1px solid #e2e3e5;
	height: 200px;
}

	#sign-in .form-container:first-child > img {
	position: absolute;
	top: 11px;
	left: 330px;
	}

	#sign-in .form-container:last-child > img {
	position: absolute;
	top: 55px;
	left: 333px;
	}

#sign-in p {
	font-size: 11px;
	color: #9f9fa1;
	top: 12px;
	position: relative;
	left: 8px;
}

#sign-in-button {
	display: block;
	position: relative;
	top: 16px;
	height: 50px;
	width: 150px;
	background-color: #63c20c;
	color: white;
	text-align: center;
	border-radius: 4px;
	padding-top: 15px;
	font-size: 17px;
}

	#sign-in-button:hover {
	background-color: #51a10a;
	}

	#sign-in-button:active {
	background-color: #438409;
	}

#invitation .form-container > img {
	position: absolute;
	top: 11px;
	left: 330px;
}

#invitation form {
	top: 0;
}

#invitation-button {
	display: block;
	position: relative;
	height: 35px;
	width: 90px;
	background-color: #078bc9;
	color: white;
	text-align: center;
	border-radius: 4px;
	padding-top: 9px;
	font-size: 16px;
}

	#invitation-button:hover {
	background-color: #0682bd;
	}

	#invitation-button:active {
	background-color: #056c9e;
	}

.errormessage, #successmessage{
	display: none;
}
.errormessage {
	position: relative;
	float: right;
	color: red;
	font-weight: bold;
	font-size: 12px;
	top: -37px;
	width: 380px;
	left: 50px;
}

#successmessage {
	position: relative;
	float: right;
	color: green;
	font-weight: bold;
	top: -35px;
	left: 50px;
	font-size: 12px;
	width: 380px;
}

#follow-us {
	width: 150px;
	position: absolute;
	bottom: -8px;
	left: 160px;
}

#follow-us ul {
	display: inline-block;
	list-style: none;
	position: relative;
}

#follow-us ul .facebook_icon, #follow-us ul .twitter_icon {
		float: left;
		border: none !important;
		margin-right: 16px;
	}

		#follow-us ul li a {
			display: block;
			width: 32px;
			height: 32px;
			background-image: url(../images/footer/social_sprits_5px.png);
			background-position: 0px -42px;
		}

#follow-us ul .facebook_icon a {
	background-position: -5px -5px !important;
}

#follow-us ul .twitter_icon a {
	background-position: -42px -5px !important;
}


/* Footer */

.dropdown-aligned {
	list-style: none;
	display: table;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

	.dropdown-aligned > li {
		display: table-cell;
		font-size: 130%;
		position: relative;
		vertical-align: middle;
	}

	.dropdown-aligned > li a {
			display: block;
			height: 35px;
			position: relative;
			top: 0px;
	}

footer {
	width: 100%;
	min-width: 1024px;
	clear: both;
	height: 81px;
}

.footer-top {
	height: 48px;
	background-color: #212121;
	position: relative;
	width: 100%;
	min-width: 1024px;
	padding-left: 60px;
	padding-right: 60px;
}

.footer-container {
	height: 100%;
	position: relative;
	width: 33.333%;
	display: inline-block;
	float: left;
}

.mini-container {
	width: 50%;
	height: 100%;
	position: relative;
	display: inline-block;
	float: left;
}

	div.footer-top h2 {
	position: relative;
	top: 3px;
	font-size: 100%;
	text-align: center;
	font-weight: bold;
	color: white;
	}

	div.footer-top p {
	float: right;
	position: relative;
	font-size: 100%;
	top: -43px;
	margin-right: 10%;
	color: white;
	}

	#last-bullet {
	float: left;
	position: relative;
	font-size: 100%;
	top: 0px;
	margin-right: 10%;
	color: white;
	}

	div.footer-top h2 a {
		color: white;
	}

.social-widget {
	display: inline-block;
	list-style: none;
	float: left;
	position: relative;
	padding-left: 0px;
	top: -8px;
}

	.social-widget li {
	display: block;
	float: left;
	border: none !important;
	clear: none;
	line-height: 100%;
	}

	.social-widget li a {
		display: block;
		width: 32px;
		height: 32px;
		background-image: url(../images/footer/social_sprits_5px.png);
		background-position: 0px -42px;
	}

.footer-bottom {
	height: 35px;
	background-color: #000000;
	position: relative;
	width: 100%;
	min-width: 1024px;
	padding-left: 60px;
	padding-right: 60px;
	top: -16px;
}

	.footer-bottom .dropdown-aligned li {
	color: white;
	font-size: 11px;
	text-align: center;
	}

	.footer-bottom .dropdown-aligned li a {
		color: white;
		font-size: 11px;
		text-align: center;
		top: -1px;
		padding-top: 13px;
	}

#footer-int {
	width: 20%;
}

	.facebook_icon a {
		background-position: -5px -42px !important;
	}

	.facebook_icon a:hover {
		background-position: -5px -5px !important;
	}

	.twitter_icon a {
		background-position: -42px -42px !important;
	}

	.twitter_icon a:hover {
		background-position: -42px -5px !important;
	}

	.google_icon a {
		background-position: -79px -42px !important;
	}

	.google_icon a:hover {
		background-position: -79px -5px !important;
	}

	.linked_in_icon a {
		background-position: 74px -42px !important;
	}

	.linked_in_icon a:hover {
		background-position: 74px -5px !important;
	}