.table{
	width: 200px;
	padding-left: 10px;
	padding-right: 10px; 
	float: left;
}

.table tr.category{
	text-transform:capitalize;
}

.table tr.category a, .table tr.category button{
	float: right; 
} 

.current{
	background-color: red;
}

p.name{
	cursor: pointer;
}


.position{
	width: 70px;
}