/************************************************************************************************************************************
*
*															BASE
*
*************************************************************************************************************************************/

@font-face{
	font-family: FuturaStd;
	src: url('../fonts/FuturaStd-Heavy.otf');
	font-weight: bold;
}

@font-face{
	font-family: FuturaStd;
	src: url('../fonts/FuturaStd-Medium.otf');
	font-weight: normal;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p, h1, h2, h3, h4, h5, h6, div {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-smooth: always;
}

html,
body {
  font-size: 100%;
  height: 100%;
}

body {
  background: white;
  color: #424242;
  padding: 0;
  margin: 0;
  font-family: "FuturaStd", Tahoma, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
}

img,
object,
embed {
  max-width: 100%;
  height: auto; }

object,
embed {
  height: 100%; }

img {
	border: none;
  -ms-interpolation-mode: bicubic; }

a {
	text-decoration: none;
}


/************************************************************************************************************************************
*
*															HEADER
*
*************************************************************************************************************************************/

.block{
	position: relative;
	width: 100%;
	min-width: 1024px;
	padding-left: 30px;
	padding-right: 30px;
}

.block-left{
	position: relative;
	padding: 0;
	display: inline-block;
	width: 100%;
	float: left;
}


header {
	margin-bottom: 7px;
}

header.block{
	padding: 0;
}

header.top{
	position: fixed;
	top: 0px;
	z-index: 1988;
}

header.top #menu{
	top: 0px;
}

header.top .block-right{
	height: 1000%;
}

/* Hack : When header is in fixed position, sets a div with same width to fill gap */
header + div.gap{
	display: none;
	height: 85px;

}

header.top + div.gap{
	display: block;
}

header.top .block-right{
	top: 0px;
}

#cart-bg {z-index: 1998; cursor: pointer;}

#menu{
	background: white;
	position: relative;
	width: 100%;
	float: left;
	top: 7px;
	height: 86px;
	z-index: 1988;
	padding-right: 180px;
}

#menu > div{
	background: white;
	width: 100%;
	top: 0px;
	position: relative;
}

#beta {
	position: relative;
	float: left;
	left: 15px;
	top: -10px;
}

#user-bar {
	width: 100%;
	min-width: 1024px;
	height: 32px;
	background-color: black;
}

#profile-button {
	display: block;
	float: right;
	height: 32px;
	cursor: pointer;
	margin-right: 120px;
	min-height: 32px;
}

.top-icon {
	float: right;
	color: #078bc9;
	font-weight: bold;
	margin-right: 8px;
	margin-top: 7px;
}

#top-icon-play{
	position: relative;
	cursor: pointer;
	margin-top: 5px;
}

.top-icon.arrow{
	margin-top: 7px;
}

#main-logo-bar {
	width: 100%;
	min-width: 1024px;
	height: 110px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: white;
}

#main-logo-bar div.moto {
	position: relative;
	float: left;
	margin: 0;
	top: 70px;
	right: 272px;
	font-size: 17px;
	color: #9f9fa1;
}

#main-logo-bar > a {
	display: block;
	float: left;
	margin-top: 22px;
	margin-left: 2%;
}

.nav-search {
    background: #232323;
    height: 60px;
    display: inline-block;
}
 
.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}

.nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.nav li a:hover {
    background-color: #2e2e2e;
}

#search-container {
    width: 400px;
    margin: 4px;
}

#search_button {
    border: 0 none;
    background: #1f7f5c url(../img/search/search.png) center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
}

#search-osm a{
    border-left: 0 none;
}
#search-osm>a {
    background-image: url(../img/search/triangle.png);
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}
.sub-osm {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: 0;
    width: 200px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #232323;
}
.sub-osm li {
    float: none;
}
.sub-osm li a {
    border-bottom: 1px solid #2e2e2e;
}
#search-osm:hover .sub-osm {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

#search, #search-container .tt-hint{
	width: 100%;
	height: 40px;
	font-size: 20px;
	border-radius: 7px;
	border-width: 1px;
}

#search-container .twitter-typeahead{
	width: 100%;
}

#search-container .tt-dropdown-menu{
	width: 100%;
	background-color: white;
}

#search-container .tt-suggestion.tt-is-under-cursor{
	background-color: red;
}

#sub-bar {
	position: relative;
	top: 100px;
	height: 6px;
	width: 100%;
	background-image: url(../img/header/menu-bg.png);
}	

#menu ul.left {
	float: left !important;
	list-style: none;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 85px;
	margin-bottom: 0px;
	padding-left: 0%;
	margin-top: 0px;
	box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

#menu ul.left > li {
	float: left;
	width: 8.333%;
	font-size: 64%;
}

#menu ul.left .divider {
	position: relative;
	float: left;
	margin-left: -1px;
	margin-top: -1px;
	height: 85px;
	width: 0%;
	border-left: 1px solid #424242;
}

#menu ul.left li:first-child div.mere div.divider, #menu ul.dropdown li:first-child div.divider{
	visibility: hidden;
}

#menu div.mere {
	display: block;
	height: 85px;
	width: 100%;
	margin-top: 0px;
	padding: 1px 1% 0 1%;
}

#menu .sub-menu-panel {
	width: 14.3%;
	height: 35px;
	position: absolute;
	top: 85px;
	right: 0px;
	background-color: #60a026;
	/*display: none;*/
}

#menu .sub-menu-panel .dropdown > li {
	width: 50%;
}

#menu .dropdown div.sub-menu-panel-divider {
	position: relative;
	float: right;
	margin-right: -4px;
	margin-top: 0px;
	width: 3px;
	height: 35px;
	background-image: url(../img/header/sub-menu-green.png);
}

#menu p.level-2-active {
	font-weight: bold;
}

#menu .icone {
	margin: 0 auto;
	position: relative;
	top: 4px;
	width: 64px;
	height: 50px;
	background: url(../img/menu/sprites_menu.png);
}

		#menu .left li.has-dropdown div.icone.fruits-legumes {
					background-position: 0 0;
				}

		#menu .left li.has-dropdown div.icone.viandes-volaille-poissons {
			background-position: -64px 0;
		}

		#menu .left li.has-dropdown div.icone.cremerie {
			background-position: -128px 0;
		}

		#menu .left li.has-dropdown div.icone.surgeles {
			background-position: -192px 0;
		}

		#menu .left li.has-dropdown div.icone.traiteur-frais {
			background-position: -256px 0;
		}

		#menu .left li.has-dropdown div.icone.epicerie-sucree {
			background-position: -320px 0;
		}

		#menu .left li.has-dropdown div.icone.epicerie-salee {
			background-position: -384px 0;
		}

		#menu .left li.has-dropdown div.icone.boulangerie-patisserie {
			background-position: -448px 0;
		}

		#menu .left li.has-dropdown div.icone.boissons {
			background-position: -512px 0;
		}

		#menu .left li.has-dropdown div.icone.bebe {
			background-position: -576px 0;
		}

		#menu .left li.has-dropdown div.icone.beaute-hygiene {
			background-position: -640px 0;
		}

		#menu .left li.has-dropdown div.icone.maison-entretien {
			background-position: -704px 0;
		}

		#menu .left li.has-dropdown div.icone.economiser {
			background-position: -768px 0;
		}

		#menu .left li.has-dropdown.show div.icone.fruits-legumes {
			background-position: 0 50px;
		}

		#menu .left li.has-dropdown.show div.icone.viandes-volaille-poissons {
			background-position: -64px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.cremerie {
			background-position: -128px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.surgeles {
			background-position: -192px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.traiteur-frais {
			background-position: -256px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.epicerie-sucree {
			background-position: -320px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.epicerie-salee {
			background-position: -384px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.boulangerie-patisserie {
			background-position: -448px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.boissons {
			background-position: -512px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.bebe {
			background-position: -576px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.beaute-hygiene {
			background-position: -640px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.maison-entretien {
			background-position: -704px 50px;
		}

		#menu .left li.has-dropdown.show div.icone.economiser {
			background-position: -768px 50px;
		}



#menu ul.left p.name {
	color: #424242;
	line-height: 100%;
	text-align: center;
	max-width: 99%;
	text-transform: uppercase;
}

#menu li.has-dropdown{
	cursor: pointer;
}

#menu li.has-dropdown.show {
	background-color: #078bc9;
}

#menu ul.left li.has-dropdown.show p.name{
	color: white;
}

#menu .submenu {
	width: 100%;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 85px;
	background-color: #e4f4fc;
	display: none;
}

.top-bar{
	width: 100%;
	height: 5px;
	background-color: #078bc9;
}

.top-bar.orange{
	background-color: #ff7800;
}

.top-bar.green{
	background-color: #63c10b;
}

#menu li.has-dropdown.show .submenu{
	display: block;
}

ul.dropdown {
	list-style: none;
	display: table;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

ul.dropdown div.divider {
	width: 0%;
	height: 26px;
	border-left: 1px solid #0676ab;
	position: relative;
	float: left;
	top: 5px;
}

ul.dropdown > li {
	position: relative;
	vertical-align: middle;
	display: table-cell;
	font-size: 130%;
}

ul.dropdown > li a {
	display: block;
	height: 35px;
	position: relative;
	top: 0px;
}

#menu li.has-dropdown p {
	color: #078bc9;
}

ul.dropdown a p {
	display: table-cell;
	vertical-align: middle;
	line-height: 100%;
	text-align: center;
	color: white;
	text-transform: capitalize;
}

ul.dropdown a div.vert-align-cont {
	height: 35px;
	width: 100%;
	position: relative;
	display: table;
	padding-left: 2px;
	padding-right: 2px;
}

ul.dropdown li.active{
	background-color: #078bc9;
}

#menu li.has-dropdown p.active{
	color: white;
}

li.has-dropdown.show {
	background-color: #078bc9;
}

#menu .has-dropdown:not(.show):hover .mere{
	background-color: #efefef;
}

#menu .has-dropdown.show div.submenu{
	display: block;
}

#menu .has-dropdown.show div.submenu div.divider {
	width: 0%;
	height: 35px;
	border-left: 1px solid #078bc9;
	position: relative;
	float: left;
	top: 1px;
	right: 1px;
}

#menu .has-dropdown.show div.submenu ul.dropdown {
	visibility: visible;
}


/************************************************************************************************************************************
*
*															CONTENT PAGE (FILTERS/PRODUCTS)
*
*************************************************************************************************************************************/

#main{
	top: 35px;
	min-height: 95%;
	padding-right: 180px;
}

/* Thin bar on top of products section */
.thin-bar {
	position: relative;
	top: 43px;
	width: 100%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.thin-bar > div {
	position: relative;
	width: 100%;
	height: 4px;
	background-color: #078bc9;
	top: 21px;
	z-index: 1984;
}

.thin-bar.promo > div {
	background-color: #da552a;
}


/* Products Area */
.category{
	width: 100%;
}

.products {
	width: 100%;
	height: 315px;
	position: relative;
	top: 10px;
	margin-bottom: -4px;
	border-bottom: 1px solid #e2e3e5;
	float: left;
	padding-left: 10px;
}


.products .inner{
	overflow: hidden;
	position: relative;
}

.products div.controller{
	width: 44px;
	height: 100px;
	background-image: url(../img/main/carousel-control.png);
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 63px;
	cursor: pointer;
}

.products div.controller.right{
	background-position: -45px 0px;
	right: 0;
}

.products div.controller.left{
	background-position: 0;
	opacity: .5;
	left: -30px;
	z-index: 2;
}

.products .loader{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 12;
	background-image: url(../img/main/products_loader.gif);
	background-repeat: no-repeat;
	background-position: 49% 49%;
}

.products .inner.touch{
	position: relative;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

.products .inner.touch .products-container{
	width: 1225px;
	height: 227px;
}

.products-header p {
	position: relative;
	float: left;
	margin: 0;
	margin-right: 10px;
	color: #078bc9;
	font-size: 14px;
}
.products-header p:first-child {
	top: -2px;
	margin-right: 50px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.products-header.promotion p{
	color: #ff7800;
	
}

.products-header p:nth-child(5) {
	margin-left: 80px;
}

.products-header {
	position: relative;
	height: 52px;
	padding-top: 18px;
}

.products-header .brands, .products-header .price-filter{
	display: inline-block;
	display: none;
	position: relative;
	z-index: 10;
	width: 167px;
	list-style: none;
	padding: 0;
	background-color: white;
	color: #9f9fa1;
	font-size: 13px;
	padding-bottom: 12px;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
}

.products-header .brands {left: -29%;}
.products-header .price-filter {left: -11%;}

.products-header .brands li, .products-header .price-filter li {margin-top: 6px; cursor: pointer;}

.products-header .brands-controller, .products-header .price-filter-controller{
	cursor: pointer;
}

#brands-filter, #price-filter {
	width: 66px;
	height: 23px;
	font-size: 15px;
	padding-top: 4px;
	margin-top: 15px;
	background-color: #ff7800;
}

.products-header span {
	position: relative;
	float: left;
	top: 4px;
	background: url(../img/cart/play-blue.png);
	height: 7px;
	width: 13px;
}

.products-header.promotion span{
	background: url(../img/main/play-orange.png);
}

.products-container{
	/*min-width: 1226px;*/
}

/* Products*/
.product {
	position: relative;
	width: 20%;
	height: 262px;
	float: left;
	padding-right: 1px;
}

.grey-mask .top-bloc > p{color: #9f9fa1;} 
.grey-mask img {-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); opacity: 0.9;}

.products .inner.touch .products-container .product{
	width: 175px;
}


/*Product bloc*/

.top-bloc {
	z-index: 1;
	width: 100%;
	height: 215px;
	position: relative;
	background-color: white;
	text-align: center;
	border-right: 1px solid #f0f0f0; 
}
		.img-bloc{
			margin-top: 5px;
		}

		.img-bloc img {
			position: relative;
			max-height: 130px;
			max-width: 150px;
			display: block;
			margin: 0 auto 0;
		}

	.top-bloc > p {
		color: #424242;
		margin: 2px 0;
	}

	.top-bloc p:nth-child(2) {
		font-weight: bold;
		font-size: 16px;
	}

	.top-bloc p:nth-child(3) {
		position: relative;
		margin: 0 3% 0 3%;
		font-size: 13px;
		width: 94%;
		text-align: left;
		line-height: 1;
	}

	.top-bloc p:nth-child(4) {
		position: relative;
		top: 2px;
		margin-bottom: 0;
		font-size: 11px;
	}

	.qte {
		color: white;
		position: relative;
		text-align: center;
		font-size: 30px;
		top: 220px;
	}
	.qte .plus, .qte .minus{
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

.price-bloc, .price-bloc-promo {
	width: 63%;
	height: 32px;
	position: relative;
	top: 7px;
}
	.price-bloc.price-mask{
		top: 7px;
		right: 20px;		
	}

	.price-bloc p, .price-bloc-promo p {
		display: inline-block;
		position: absolute;
		margin: 0;
		color: #63c20c;
	}

	.price-bloc p:first-child {
		font-size: 16px;
		font-weight: bold;
		right: 3px;
		width: 61px;
		text-align: right;
	}

	.price-bloc p:nth-child(2) {
		font-size: 11px;
		right: 3px;
		top: 17px;
		color: #9f9fa1;
	}

	.price-bloc-promo.price-mask{
		top: 23px;
	}

	.price-bloc-promo p:first-child {
		font-size: 11px;
		margin-left: 5px;
		text-decoration: line-through;
		color: #9f9fa1;
		width: 39px;
	}
	
	.price-bloc-promo.price-mask p:first-child{
		right: 68px;
	}

	.price-bloc-promo p:nth-child(2) {
		font-size: 16px;
		right: 5px;
		font-weight: bold;
		color: #ff7800;
		width: 61px;
		text-align: right;
		top: -5px;
	}

	.price-bloc-promo p:nth-child(3) {
		font-size: 11px;
		top: 10px;
		right: 6px;
		color: #9f9fa1;
	}

	.promo-line{
		right: 58px;
		top: 2px;
	}

.product div.box {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
}

.add-cart {
	position: absolute;
	cursor: pointer;
	display: block;
	bottom: -30px;
	right: -1px;
	width: 34px;
	height: 38px;
	background: url(../img/main/add-cart.png);
	background-position: 0px 1px;
}

.add-cart:hover {
	background-position: 34px 1px;
}

.add-box {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 227px;
	background-color: #9f9fa1;
	float: left;
	color: white;
	font-size: 105px;
	text-align: center;
	padding-top: 50px;
	cursor: pointer;
}

.qte a {
	position: absolute;
	display: block;
	color: #6eb72c;
	width: 34px;
	height: 38px;
	background: url(../img/main/quantity-sprite.png);
}

.qte a:nth-child(2) {
	right: 0px;
	top: 0px;
	background-position: 0px 0px;
}
.qte a:nth-child(3) {
	font-size: 34px;
	right: 38px;
	top: 0px;
}

.qte a:nth-child(4) {	
	color: white;
	right: 19px;
	top: -32px;
	padding-top: 9px;
	font-size: 20px;
	font-weight: bold;
	background-position: 34px 0px;
}

div.promo-type {
	position: absolute;
	background-color: #ff7800; 
	top: 9px;
	color: white;
	right: 0px;
	padding-top: 3px;
	font-size: 13px;
	width: 40px;
	height: 17px;
}

.promo-shadow {
	position: absolute;
	top: 3px;
	z-index: 1;
	right: 0px;
	width: 4px;	
	height: 29px;
	background: url(../img/main/promo-shadow.png);
}

.mask-bloc {
	width: 100%;
	height: 262px;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 1px;
	background-color: rgba(0, 0, 0, 0.05);
	text-align: center;
}

#cart .mask-bloc{
	background: none;
}

.mask-bloc .price-bloc p, .mask-bloc .price-bloc-promo p {color: #9f9fa1}



@media only screen and (min-width: 1172px) {
	.product:last-child {
		display: block;
	}

	.product{
		width: 16.667%;
	}

	.products .inner.touch .products-container .product{
		width: 175px;
	}
}

/************************************************************************************************************************************
*
*															COMPARATEUR
*
*************************************************************************************************************************************/
#comparator {
	width: 180px;
	position: absolute;
	box-shadow: -2px 0px 4px rgba(0,0,0,0.2);
	height: 100%;
	z-index: 3000;
	background-color: white;
	float: left;
	left: 0;
}


#comparator.top{
	width: 14.3%;
	position: fixed;
	top: 85px;
	padding-right: 0.65%;
}

#mycart{
	height: 85px;
	font-size: 17px;
}

#mycart:hover {background-color: #efefef;}

#mycart div{
	display: inline-block;
}

#mycart a{
	display: block;
	width: 160px;
	height: 76px;
	margin-left: 10px;
	cursor: pointer;
}

#mycart .controller{
	background: url(../img/main/comparator-control.png);
	background-position: 0px 0px;
	width: 26px;
	height: 62px;
	float: left;
	position: relative;
	top: -50px;
	cursor: pointer;
	right: -146px;
}

.open-cart #mycart .controller{
	background-position-x: -27px;
	right: 10px;
}

#mycart .caddie{
	background: url(../img/comparator/caddie.png) no-repeat;
	width: 50px;
	height: 41px;
	position: relative;
	left: 20px;
	top: 10px;
}

#mycart .cart-text{
	width: 140px;
	top: 12%;
	position: relative;
	font-size: 13px;
	top: 20px;
	left: 30px;
}

.cart-text.opened-cart{
	display: none !important;
}

.open-cart .cart-text.closed-cart{
	display: none !important;
}

.open-cart .cart-text.opened-cart{
	display: inline-block !important;
}

#mycart .cart-qte{
	float: right;
	position: relative;
	right: 40px;
	top: 20px;
}

#mycart .cart-qte div{
	display: table;
}

#mycart .cart-qte div:not(.txt-articles){
	width: 100%;
	text-align: center;
	font-weight: bold;
}

#switch-area{
	color: #ff7800;
	position: relative;
	top: -10px;
}

#switch-area > div{
	height: 51px;
	width: 144px;
	margin: auto;
	margin-bottom: 15px;
	vertical-align: bottom;
}

#switch-area > div .switch{
	background: url(../img/switch/popup-switch.gif);
	float: left;
	position: relative;
	top: 20px;
	width: 23px;
	height: 22px;
}

#switch-area > div > div:not(.switch){
	display: inline-block;
	float: right;
	position: relative;
	right: 8px;
}

#switch-area > div > div:not(.switch) p{
	font-weight: bold;
	text-align: right;
	font-size: 20px;
}

#osms {
	width: 100%;
	position: relative;
	margin: 10px 0;
}

#osms a {display: block; cursor: pointer;}

.osm {
	width: 100%;
	height: 34px;
	position: relative;
	cursor: pointer;
}

.osm div.loader{
	background-repeat: no-repeat;
	background-image: url(../img/comparator/subtotal_loader.gif);
	width: 25px;
	height: 25px;
	display: none;
	position: absolute;
	right: 9px;
	z-index: 1;
}

	.osm div.auchan, .osm div.ooshop, .osm div.monoprix{
		display: inline-block;
		position: relative;
		float: left;
		height: 24px;
		width: 95px;
		top: 4px;
		left: 22px;
		background-image: url(../img/comparator/sprites_osm_nb.png);
		background-size: 95px;
	}

		.osm div.auchan {
			background-position: 0 -71px;
		}

		.osm div.ooshop {
			background-position: 0 -120px;
		}

		.osm div.monoprix {
			background-position: 0 -23px;
		}

	.osm p{
		display: inline-block;
		position: relative;
		float: right;
		color: #424242;
		font-weight: bold;
		font-size: 11px;
		right: 4px;
		margin-top: 12px;
	}

#active-osm {position: absolute; top: -40px; width: 100%;}

#non-active-osm {position: relative; margin-top: 55px;}

#active-osm .osm > div.auchan, #active-osm .osm > div.monoprix, #active-osm .osm > div.ooshop{
	left: 10px;
	background-image: url(../img/comparator/sprites_osm.png);
}

#active-osm .osm > div.monoprix {background-position: 0 -25px;}
#cart div.monoprix {background-position: 0 -33px;}

#active-osm .osm #arrow-pointer{
	display: inline-block;
	position: relative;
	float: left;
	height: 34px;
	width: 12px;
	background: url(../img/comparator/osm_selector.png) no-repeat;
}

#active-osm .osm > div.auchan {background-position: 0 -71px;}
#cart div.auchan {background-position: 0 -101px;}
#active-osm .osm > div.ooshop {background-position: 0 -120px;}
#cart div.ooshop {background-position: 0 -170px;}



div.cart-summary{
	height: 32px;
	width: 140px;
	margin: auto;
}

div.cart-summary .cart-logo{
	width: 32px;
	height: 27px;
	background: url(../img/comparator/cart-logo.png);
	display: inline-block;
	float: left; 
	position: relative;
	left: 10px;
}

div.cart-summary > div:not(.cart-logo) {
	font-weight: bold;
	text-align: right;
	font-size: 20px;
	color: #63c20c;
	float: right;
	position: relative;
	padding-top: 5px;
	right: 12px;
}

div#minimum-shipping{
	font-size: 11.5px;
	position: relative;
	text-align: center;
	top: 5px;
	width: 180px;
	color: #9f9fa1;
}

.cta {
	display: block;
	height: 32px;
	width: 140px;
	border-radius: 4px;
	background-color: #63c20c;
	color: white;
	text-align: center;
	padding-top: 9px;
	font-size: 17px;
	margin: auto;
	position: relative;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cta.commander{
	width: 135px;
	font-size: 14px;
	padding: 8px 12px;
	height: 42px;
}

.cta.comparer{
	background-color: #ff7800;
	width: 135px;
	padding: 8px 12px;
	top: -10px;
}

.cta:hover {
	background-color: #51a10a;
}

.cta.comparer:hover {
	background-color: #e66e03;
}

.cta:active {
	background-color: #438409;
}

.cta.comparer:active {
	background-color: #c75e02;
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: #5fb000; }

@media only screen {
  .cta {
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out; }
	.ctl:active {
	  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }
}

/************************************************************************************************************************************
*
*															CART
*
*************************************************************************************************************************************/

.block-right{
	width: 184px;
	height: 4000px;
	position: absolute;
	top: 4px;
	right: 0;
	padding-left: 4px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.block-right.open-cart{
	width: 90%;
	padding-left: 0;
}

#test {
	position: relative;
	float: right;
	padding-left: 180px;
	width: 668%;
	height: 100%;
	right: -568.2%;
	top: 3px;
}

.top #test{
	top: 0px;
}

.block-right.open-cart #test{
	right: 0%;
	width: 100%;
}

														
#cart {
	position: relative;
	float: right;
	width: 100%;
	height: 100%;
	background-color: white;
	right: 0;
	box-shadow: -3px -1px 4px rgba(0, 0, 0, 0.1);
	z-index: 3000;
}

														#cart-header {
															position: relative;
															height: 90px;
															border-bottom: 5px solid #e2e3e5;
														}
														#savings {position: relative; float: right; width: 50%; height: 90px; text-transform: uppercase; padding-top: 35px; padding-left: 30px; font-size: 18px; font-weight: bold;}
														#savings div {float: left;}
														#savings div:last-child {color: #ff7800; margin-left: 7px;}

														div#active-osm-cart {
															position: relative;
															float: left;
															width: 50%;
															height: 90px;
															text-align: center;
															border-right: 1px solid #e2e3e5;
														}

														#cart-header-content{
															width: 100% !important; 
														}

														#sel-osm-cart {
															border-right: 1px solid #e2e3e5;
														}

														#cta-cart {
															float: right;
															height: 32px;
															padding-top: 10px;
															right: 30px;
															top: -7px;
														}

														#active-osm-cart div {
															position: relative;
															background-image: url(../img/comparator/sprites_osm.png);
															width: 135px;
															height: 34px;
															top: 22px;
															margin-left: 12%;
														}

															#active-osm-cart p{
																position: relative;
																top: 6px;
																font-size: 14px;
																margin: 0;
															}

															#cart-header div p:last-child {
																top: 28px;
																text-decoration: underline;
																cursor: pointer;
																width: 90px;
																color: #078bc9;
																margin-left: 17%;
																font-size: 13px;
															}


														#cart div.scrollarea{
															height: 68%;
															overflow-y: auto;
															overflow-x: hidden;
															padding-left: 20px;
															width: 50%; 
															position: relative; 
															float: left;
														}

.transition-wr{
	transition: width 0.75s, right 0.75s;
	-webkit-transition: width 0.75s, right 0.75s;
}

.transition-l{
	transition: left 0.75s;
	-webkit-transition: left 0.75s;
}

.transition-w{
	transition: width 0.75s;
	-webkit-transition: width 0.75s;
}

														.cart-recap-accordion {
															width: 100%;
															float: left;
															position: relative;
														}	

														.accordion-header {
															position: relative;
															height: 45px;
														}

															.accordion-header div {
																position: relative;
																float: left;
																width: 100%;
																height: 45px;
															}

															.cart-recap-accordion > div:first-child {
																border-right: 1px solid #e2e3e5;
																padding-right: 20px;
															}

															.accordion-header div:nth-child(2) {
																padding-left: 20px;
															}

																.accordion-header div p {
																		color: #078bc9;
																		font-weight: bold;
																		display: inline-block;
																		text-transform: capitalize;
																}

															.product-recap {
																width: 100%;
																position: relative;
																height: 85px;
															}

															.active-osm-product {
																border-right: 1px solid #e2e3e5;
																padding-left: 20px;
																padding-right: 120px;
																position: relative;
																float: left;
																width: 100%;
																height: 85px;
																color: #9f9fa1;
															}

															.prod-desc {
																position: relative;
																float: left;
																width: 65%;
															}

															.product-recap .prod-desc p {
																position: relative;
																display: block;
																margin: 3px;
																font-size: 12px;
																font-weight: normal;
															}

															.product-recap .prod-desc p:first-child {
																font-weight: bold;
																color: #424242;
																font-size: 14px;
															}
															.product-recap .prod-desc p:nth-child(2) {font-weight: bold;}

															.product-recap img {
																	display: block;
																	position: relative;
																	float: left;
																	height: 70px;
																}

															#recap-price-qty {
																position: absolute;
																float: right;
																top: 30px;
																right: 30px;
																width: 120px;
															}

															.active-osm-product #recap-price-qty {
																right: 5px;
																top: 35px;
															}

															#recap-qty {
																top: -11px;
																width: 140px;
																right: 92px; 
															}

															#recap-qty p {
																display: inline-block;
																position: relative;
																top: 0;
															}

															#recap-qty p:first-child {
																font-size: 12px;
																font-weight: normal;
																color: #9f9fa1;
																display: block;
																right: -38px;
															}

															#recap-qty p:nth-child(3) {
																position: relative;
																font-size: 14px;
																font-weight: bold;
																color: #9f9fa1;
															}

															.osm-recap-promo .promo-shadow {
																right: -78px;
																top: -20px;
															}

															.osm-recap-promo .promo-type {
																right: -77px;
																top: -15px;
															}

															/*.unavailable-mask {
																position: absolute;
																float: left;
																width: 50%;
																height: 85px;
																padding-left: 70px;
																padding-top: 60px;
																font-size: 11px;
																z-index: 1;
																background: rgba(0, 0, 0, 0.05);
															}*/

															#cart .unavailable-mask{
																width: 100%; 
																height: 100%; 
																background-color: rgba(0, 0, 0, 0.05);
																position: absolute;
																z-index: 1;
															}
																.unavailable-mask div.replacement {
																	display: inline-block;
																	position: relative;
																	float: right;
																	width: 28px;
																	height: 29px;
																	top: 25px;
																	right: 49px;
																	cursor: pointer;
																	background: url(../img/comparator/replacement-switch.png);
																}

/* OSMS SWITCH IN CART*/

#osms-area {width: 50%; position: relative; float: right;}
#osms-area .loader{position: absolute;	display: none;	width: 6%;	height: 44%;	z-index: 12;	right: 15%;	background-image: url(../img/switch/switch_loader.gif);	background-repeat: no-repeat;	background-position: 49% 49%;}
.osm-recap {padding: 30px;padding-top: 20px; height: 155px;}
.osm-recap > div {width: 100%; height: 20px; position: relative; float: left; font-size: 14px;}
.osm-recap > div:last-child {height: 55px; border-bottom: 1px solid #e2e3e5; padding-top: 10px;}
.osm-recap .ooshop, .osm-recap .auchan, .osm-recap .monoprix {position: relative; float: left; height: 34px; width:135px; background-image: url(../img/comparator/sprites_osm.png);margin-bottom: 10px;}
.osm-recap .total {position: relative; float: right; top: 5px; font-weight: bold; font-size: 20px;width: 100px; text-align: right;}
.osm-recap #label-1 {position: relative; float: left;}
.osm-recap #label-2 {position: relative; float: right;}
.osm-recap #label-3 {position: relative; float: left;}
.osm-recap #label-4 {position: relative; float: right;}
.osm-recap #label-5 {position: relative; float: left;font-weight: bold; font-size: 16px;}
.osm-recap .cta.comparer {font-size: 13px; width: 140px; position: relative; float: right; top: -5px;}


/*POPUP PROD SUBSTITUTION*/ 

#substitution{
	display: none;
}

.equivalent-switch {
	width: 780px;
	height: 400px;
	top: 50px;
	position: absolute;
	z-index: 3004;
	margin-left: 0;
	background-color: white;
	padding: 1.25em;
}

.equivalent-switch-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: black;
	background: rgba(0, 0, 0, 0.45);
	z-index: 3003;
	/*display: none;*/ 
	top: 0;
	left: 0;
}

.equivalent-switch .products-container {
	width: 700px;
}

.equivalent-switch .product {
	width: 165px;
	height: 290px;
	margin-top: 15px;
}

.equivalent-switch .inner {
	overflow-x: scroll;
	overflow-y: hidden;
}

.product .cta.comparer {
	width: 70%;
	padding-top: 7px;
	top: 0px;
}

.equivalent-switch .price-bloc, .equivalent-switch .price-bloc-promo {
	top: 0;
}

.osms-switch-close {
    font-size: 40px;
    line-height: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #aaaaaa;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px; 
}

/*---------------------
SWITCH OSMS ********
---------------------*/

#switch{
	display: none;
}

.osms-switch-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: black;
	background: rgba(0, 0, 0, 0.45);
	z-index: 3000;
	display: none; 
	top: 0;
	left: 0;
}

.osms-switch {
	width: 680px;
	height: 380px;
	top: 50px;
	display: none;
	z-index: 3001;
	left: 20%;
	margin-left: 0;
	background-color: white;
	padding: 1.25em;
	top: 50px;
	position: fixed;
}

.open {
	display: block;
}

#osms-switch-header {
  height: 30px;
  border-bottom: 1px solid #e2e3e5;
  color: #424242;
  font-weight: bold;
  font-size: 22px;
  top: -5px;
  position: relative;
  width: 580px;
}

.osms-switch-active, .osms-switch-inactive {
	position: relative;
	width: 165px;
	height: 210px;
	float: left;
	margin-left: 20px;
	margin-top: 50px;
	text-align: center;
	border-right: 1px solid #e2e3e5;
}

.osms-switch-inactive .cta{
	font-size: 13px;
	margin-top: 40px;
	padding-top: 9px;
}

.osms-switch-inactive .loader{
	position: absolute;
	display: none;
	width: 100%;
	height: 30%;
	z-index: 12;
	background-image: url(../img/switch/switch_loader.gif);
	background-repeat: no-repeat;
	background-position: 49% 49%;
}

.osms-switch div:last-child {
	border-right: none;
}

.osms-switch-active {
	border: none;
	margin-left:0; 
}

.osms-switch-active p {
	position: relative;
}

.osms-switch-price {
	font-weight: bold;
}

.osms-switch-active .osms-switch-price {
	color: #ff7800;
}

.osms-switch-shipping, .bonus {
	font-size: 11px;
	top: -5px;
}


#my-osm {
	position: absolute;
	top: -36px;
	left: 35px;
}

#switch-icon {
	position: relative;
	float: left;
	margin: 30px;
	margin-top: 45px;
}

#switch .monoprix, #switch .ooshop, #switch .auchan {
	background-image: url(../img/comparator/sprites_osm.png);
	width: 135px;
	height: 34px;
	margin: auto;
}
 
 #switch .monoprix {
 	background-position: 0px 238px;
 }

 #switch .ooshop {
 	background-position: 0px 102px;
 }

 #switch .auchan {
 	background-position: 0px 170px;
 }

/************************************************************************************************************************************
*
*															Sign In Modal
*
*************************************************************************************************************************************/

/*POP UP*/

.reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: black;
	background: rgba(0, 0, 0, 0.45);
	z-index: 98;
	display: none;
	top: 0;
	left: 0; }

.reveal-modal {
	visibility: hidden;
	display: none;
	position: absolute;
	z-index: 99;
	left: 28%;
	margin-left: 0;
	background-color: white;
	padding: 1.25em;
	top: 50px; }

	.reveal-modal > :first-child {
	margin-top: 0; }
	.reveal-modal > :last-child {
	margin-bottom: 0; }
	.reveal-modal .close-reveal-modal {
	font-size: 1.375em;
	line-height: 1;
	position: absolute;
	z-index: 10;
	top: 0.5em;
	right: 0.6875em;
	color: #aaaaaa;
	font-weight: bold;
	cursor: pointer; }

form {
  margin: 0 0 1em; 
  top: 24px;
  position: relative;
}

input[type="password"],
input[type="email"] {
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; 
}

  input[type="password"]:focus,
  input[type="email"]:focus {
	-webkit-box-shadow: 0 0 5px #999999;
	-moz-box-shadow: 0 0 5px #999999;
	box-shadow: 0 0 5px #999999;
	border-color: #999999; 
  }

  input[type="password"]:focus,
  input[type="email"]:focus {
	background: #fafafa;
	border-color: #999999;
	outline: none; 
  }

  input[type="password"][disabled],
  input[type="email"][disabled] {
	background-color: #dddddd; 
  }

#loginModal {
  width: 480px;
  height: 455px;
  z-index: 19999;
  position: absolute;
  top: 138px;
}

.reveal-modal-bg{
	z-index: 19998;
}

#modal-header {
  height: 30px;
  border-bottom: 1px solid #e2e3e5;
  color: #424242;
  font-weight: bold;
  font-size: 22px;
  top: -5px;
  position: relative;
}

.form-container {
  width: 360px;
}

#sign-in {
	border-bottom: 1px solid #e2e3e5;
	height: 200px;
}

  #sign-in .form-container:first-child > img {
	position: absolute;
	top: 11px;
	left: 330px;
  }

  #sign-in .form-container:last-child > img {
	position: absolute;
	top: 55px;
	left: 333px;
  }

#sign-in p {
	font-size: 11px;
	color: #9f9fa1;
	top: 12px;
	position: relative;
	left: 8px;
}

#sign-in-button {
  display: block;
  position: relative;
  top: 16px;
  height: 50px;
  width: 150px;
  background-color: #63c20c;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding-top: 15px;
  font-size: 17px;
  cursor: pointer;
}

  #sign-in-button:hover {
	background-color: #51a10a;
  }

  #sign-in-button:active {
	background-color: #438409;
  }

#invitation .form-container > img {
	position: absolute;
	top: 11px;
	left: 330px;
}

#invitation form {
  top: 0;
}

#invitation-button {
  display: block;
  position: relative;
  height: 35px;
  width: 90px;
  background-color: #078bc9;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding-top: 9px;
  font-size: 16px;
}

  #invitation-button:hover {
	background-color: #0682bd;
  }

  #invitation-button:active {
	background-color: #056c9e;
  }

.errormessage, #successmessage{
  display: none;
}
.errormessage {
  position: relative;
  float: right;
  color: red;
  font-weight: bold;
  font-size: 12px;
  top: -37px;
  width: 380px;
  left: 50px;
}

#successmessage {
  position: relative;
  float: right;
  color: green;
  font-weight: bold;
  top: -35px;
  left: 50px;
  font-size: 12px;
  width: 380px;
}


/************************************************************************************************************************************
*	
*														IMPORTATION POP UP
*
************************************************************************************************************************************/

#importation, #export{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 10000;
	display: none;
}

#exportModal {
  position: fixed;
  visibility: visible !important;
  display: block !important;
  width: 570px !important;
  height: 320px !important;
  z-index: 100000 !important;
}

#importModal {
	position: fixed;
	visibility: visible !important;
	display: block !important;
	width: 570px !important;
	height: 460px !important;
	z-index: 100000 !important;
}

#importation > .reveal-modal-bg, #export > .reveal-modal-bg{
	display: block;
}

#importModal {
  width: 570px;
  height: 460px;
}

#export #sign-in {
  border: none;
}

#importModal #modal-header, #exportModal #modal-header {
  height: 35px;
  color: #078bc9;
}

#importModal #sign-in {
  height: 380px;
  position: relative;
  top: -10px;
  border: none;
}

#importModal #sign-in p:nth-child(3) {font-size: 16px; font-weight: bold; color: #424242; margin: 0; top: 0px;}

#exportModal #modal-header {
  position: relative;
  top: -10px;
  border-bottom: 1px solid #e2e3e5;
}

#importModal #sign-in p:first-child, #exportModal #sign-in p:first-child {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: #424242;
  top: 2px;
}

#importModal #sign-in p, #exportModal #sign-in p {
  position: relative;
  top: -10px;
}

#importModal #sign-in p:nth-child(7), #exortModal #sign-in p:nth-child(7) {
  font-size: 11px;
  color: #9f9fa1;
  top: -5px;
  position: relative;
  left: 8px;
}

#importModal #sign-in p:nth-child(5), #exportModal #sign-in p:nth-child(5) {
  top: -8px;
  color: #9f9fa1;
  font-size: 12px;
}

#importModal #sign-in table, #exportModal #sign-in table {
  height: 80px;
}

#importModal #sign-in td div, #exportModal #sign-in td div {
  width: 135px;
  height: 34px;
  background: url(../img/comparator/sprites_osm_nb.png);
  cursor: pointer;
}

  #importModal #sign-in td.monoprix div,   #exportModal #sign-in td.monoprix div {
    background-position: 0px 238px;
  }

  #importModal #sign-in td.ooshop div,   #exportModal #sign-in td.ooshop div {
    background-position: 0px 102px;
  }

  #importModal #sign-in td.auchan div,   #exportModal #sign-in td.auchan div {
    background-position: 0px 170px;
  }

#importModal #sign-in td div:hover, #importModal #sign-in td.active div, #exportModal #sign-in td div:hover, #exportModal #sign-in td.active div {
  background: url(../img/comparator/sprites_osm.png);
}

  #importModal #sign-in td.monoprix div:hover, #importModal #sign-in td.monoprix.active div,   #exportModal #sign-in td.monoprix div:hover, #exportModal #sign-in td.monoprix.active div {
    background-position: 0px 238px;
  }

  #importModal #sign-in td.ooshop div:hover, #importModal #sign-in td.ooshop.active div,   #exportModal #sign-in td.ooshop div:hover, #exportModal #sign-in td.ooshop.active div {
    background-position: 0px 102px;
  }

  #importModal #sign-in td.auchan div:hover, #importModal #sign-in td.auchan.active div,   #exportModal #sign-in td.auchan div:hover, #exportModal #sign-in td.auchan.active div {
    background-position: 0px 170px;
  }

#importModal form, #exportModal form {
  top: 0;
  margin: 0;
}

#importModal #sign-in-button, #exportModal #sign-in-button {
  top: -5px;
}

#importModal #successmessage, #exportModal #successmessage {
  top: -60px;
}

#importModal #sign-in #successmessage p, #exportModal #sign-in #successmessage p {
  color: #ff7800;
}

#importModal .errormessage, #exportModal .errormessage {
  top: -70px;
}

#importModal #sign-in .errormessage p, #exportModal #sign-in .errormessage p {
  top: -70px;
  left: 0px;
  width: 335px;
}

#import-loader{
	position: absolute;
	width: 260px;
	height: 220px;
	background: url(../img/main/import_loader.gif);
	z-index: 10;
	left: 160px;
	top: 100px;
	display: none;
}

.import-loader-bg{
	z-index: 9;
	display: none;
}


/************************************************************************************************************************************
*	
*														END IMPORTATION POP UP
*
************************************************************************************************************************************/


#follow-us {
	width: 150px;
	position: absolute;
	bottom: -8px;
	left: 160px;
}

#follow-us ul {
	display: inline-block;
	list-style: none;
	position: relative;
}

#follow-us ul .facebook_icon, #follow-us ul .twitter_icon {
		float: left;
		border: none !important;
		margin-right: 16px;
	}

		#follow-us ul li a {
			display: block;
			width: 32px;
			height: 32px;
			background-image: url(../img/footer/social_sprits_5px.png);
			background-position: 0px -42px;
		}

#follow-us ul .facebook_icon a {
	background-position: -5px -5px !important;
}

#follow-us ul .twitter_icon a {
	background-position: -42px -5px !important;
}


/************************************************************************************************************************************
*
*															FOOTER
*
*************************************************************************************************************************************/

footer {
	position: relative;
	bottom: -49px;
	width: 100%;
	min-width: 1024px;
	clear: both;
	height: 81px;
	z-index: 4000;
}

.footer-top {
	height: 48px;
	background-color: #9f9fa1;
	position: relative;
	width: 100%;
	min-width: 1024px;
	padding-left: 60px;
	padding-right: 60px;
}

.footer-container {
	height: 100%;
	position: relative;
	width: 33.333%;
	display: inline-block;
	float: left;
}

.mini-container {
	width: 40%;
	height: 100%;
	position: relative;
	display: inline-block;
	float: left;
}

#social.mini-container{
	width: 60%;
}

	div.footer-top h2 {
		position: relative;
		top: 3px;
		font-size: 100%;
		text-align: center;
		font-weight: bold;
		color: white;
	}

	div.footer-top p {
		float: right;
		position: relative;
		font-size: 100%;
		top: -43px;
		margin-right: 10%;
		color: white;
	}

	#last-bullet {
		float: left;
		position: relative;
		font-size: 100%;
		top: 0px;
		margin-right: 10%;
		color: white;
	}

		div.footer-top h2 a {
			color: white;
		}

.social-widget {
	display: inline-block;
	list-style: none;
	float: left;
	position: relative;
	padding-left: 0px;
	top: -8px;
}

	.social-widget li {
		display: block;
		float: left;
		border: none !important;
		clear: none;
		line-height: 100%;
		margin-left: 10px;
	}

		.social-widget li a {
			display: block;
			width: 32px;
			height: 32px;
			background-image: url(../img/footer/social_sprits_5px.png);
			background-position: 0px -42px;
		}

.footer-bottom {
	height: 35px;
	background-color: #424242;
	position: relative;
	width: 100%;
	min-width: 1024px;
	padding-left: 120px;
	padding-right: 120px;
}
	.footer-bottom ul.dropdown{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.footer-bottom ul.dropdown li {
		color: white;
		font-size: 11px;
		text-align: center;
	}

		.footer-bottom ul.dropdown li a {
			color: white;
			font-size: 11px;
			text-align: center;
			top: -1px;
			padding-top: 13px;
		}

#footer-int {
	width: 20%;
}

		.facebook_icon a {
			background-position: -5px -42px !important;
		}

		.facebook_icon a:hover {
			background-position: -5px -5px !important;
		}

		.twitter_icon a {
			background-position: -42px -42px !important;
		}

		.twitter_icon a:hover {
			background-position: -42px -5px !important;
		}

		.google_icon a {
			background-position: -79px -42px !important;
		}

		.google_icon a:hover {
			background-position: -79px -5px !important;
		}

		.linked_in_icon a {
			background-position: 74px -42px !important;
		}

		.linked_in_icon a:hover {
			background-position: 74px -5px !important;
		}


/*JQUERY UI */

.ui-state-disabled {
	cursor: pointer !important;
}

.ui-accordion .ui-accordion-header {
	cursor: pointer;
}

.ui-state-hover, .ui-state-active, .ui-state-focus {
	outline: none;
}

span.ui-accordion-header-icon {
	position: relative;
	float: right;
	top: 22px;
	background: url(../img/cart/play-blue.png);
	height: 7px;
	width: 13px;
	right: 10px;
}


/* TEMPORARY */
.dropit .dropit-submenu{
	color: #9f9fa1;
	top: 25px;
	left: -60px;
	width: 130px;
	font-size: 14px;
	font-weight: normal;
	min-width: 0px;
	z-index: 1999;
	background-color: white;
}

.dropit .dropit-submenu li{
	cursor: pointer;
	margin: 5px;
}
