@font-face{
	font-family: BPreplay;
	src: url('../fonts/bpreplay/BPreplayBold.otf');
	font-weight:bold;
}

@font-face{
	font-family: Brankovic;
	src: url('../fonts/brankovic.ttf');
	font-weight:bold;
}

p, h1, h2, h3, h4, h5, h6{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-smooth: always;
}

body{
	background-image: url(../images/bg.png);
}

.content{
	margin: auto;
	margin-top: 80px;
	width: 960px;
}

/* Header*/
header{
	width: 100%;
	height: 40px;
	padding-top: 4px;
	padding-bottom: 4px;

	background: rgb(0,0,0); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzBhMGEwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(10,10,10,1) 50%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(10,10,10,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(10,10,10,1) 50%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(10,10,10,1) 50%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(10,10,10,1) 50%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(10,10,10,1) 50%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

	position: fixed;
	top: 0px;
	z-index: 99;
}

header .beta{
	background-image: url(../images/header/ruban.png);
	background-repeat: no-repeat;
	width: 52px;
	height: 105px;
	display: inline-block;
	position: absolute;
	top: 8px;
	left: 50px;
	z-index: 9999;
}
header .logo{
	background-image: url(../images/logo.png);
	background-repeat:  no-repeat;
	width: 110px;
	height: 40px;
	margin: auto;
}

header .logo a{
	display: block;
	width: inherit;
	height: inherit;
}

header .container{
	height: 32px;
}

/* Menu */
nav{
	position: fixed;
	z-index: 98;
	top: 48px;
	width: 100%;
    height: 32px;

}

.navbar{
	margin-bottom: 0px;
}

.navbar .nav > li > a{
	text-transform: uppercase;
}

.navbar .nav{
	margin: auto;
	position: initial;
	float: initial;
}

.navbar-inverse .navbar-inner{
	border: none;
	border-radius: 0px;
	background-color: #141414;
	background-image: none;
	filter: none;

	-moz-box-shadow: 0px 3px 7px rgba(0,0,0,.75);
	-webkit-box-shadow: 0px 3px 7px rgba(0,0,0,.75);
	box-shadow: 0px 3px 7px rgba(0,0,0,.75);
}

.navbar-inner {
	min-height: 0px;
	height: 32px;
}

.navbar-inner .container{
	width: 960px;
	margin-top: 1px;
	margin-bottom: 1px;
	height: 32px;
}

.navbar-search .search-query{
	width: 170px;
	height: 20px;
	border-radius: 5px;
}

.nav{
	width: 50%;
}

.navbar .nav > li > a{
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

form.navbar-search{
	margin: 0px;
	visibility: hidden;
}

/* Social links*/
.social-widget{
	display: inline-block;

}
.social-widget ul{
	margin: 6px 0 0 !important;
	padding: 0px;
	display: inline;
}

.social-widget ul li{
	padding: 0 2px 0 0;
	margin: 0;
	display: inline-block;
	zoom: 1;
	border: none !important;
	clear: none;
	line-height: 100%;
}

.social-widget a{
	text-decoration: none;
}

.links-list{
	list-style-type: none;
}

.links-list li a{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../images/footer/social_sprits_5px.png');
	background-position: 0px -42px;
}

.facebook_icon a{
	background-position: -5px -42px !important;
}

.facebook_icon a:hover{
	background-position: -5px -5px !important;
}

.twitter_icon a{
	background-position: -42px -42px !important;
}

.twitter_icon a:hover{
	background-position: -42px -5px !important;
}

.google_icon a{
	background-position: -79px -42px !important;
}

.google_icon a:hover{
	background-position: -79px -5px !important;
}

.pinterest_icon a{
	background-position: -116px -42px !important;
}

.pinterest_icon a:hover{
	background-position: -116px -5px !important;
}

.linked_in_icon a{
	background-position: 74px -42px !important;
}

.linked_in_icon a:hover{
	background-position: 74px -5px !important;
}

/* Footer */
footer{
	font-family: Arial;
	overflow: hidden;
	width: 100%;
	box-shadow: 1px -1px 3px #ACACAC;
	color: white;
}

footer a, footer a:hover{
	color: inherit;
	text-decoration: none;
}

footer div.top{
	height: 48px;
	background-color: #212121;
}

footer div.top h2{
	font-size: 1.47em;
}

footer div.bottom{
	height: 33px;
	background-color: #000000;
	text-align: center;
	font-size: 0.67em;
}

footer div.bottom a, footer div.bottom span{
	color: white;
	text-decoration: none;
}

footer .top .container > div{
	height: 100%;
	display: inline-block;
	float: left;
	width: 49%;
}

footer .container{
	height: 100%;
	position: relative;
	top: -6px;
}

footer .bottom span:last-child{
	float: right;
}

footer .bottom .container{
	padding-top: 10px;
}

footer .top h2{
	text-align: center;
	font-weight: bold;
}

footer .social_bloc >h2{
	display: inline-block;
}

footer .blog p{
	width: 175px;
	margin: auto;
	font-weight: bold;
}

footer .social-widget{
	float: none;
	position: relative;
	top: 9px;
}

footer .blog{
	width: 24% !important;
}

footer .blog p{
	display: none;
}

footer .social_bloc{
	width: 50% !important;
	text-align: center;
}

footer .contact{
	width: 24% !important;
}

footer .separator{
	width: 1% !important;
}

/* General elements*/
.block{
	-moz-box-shadow: 0px 1px 3px;
	-webkit-box-shadow: 0px 1px 3px;
	box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.4);
	background-color: white;
	/*padding: 10px; */
}

.btn-success {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #81E923;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#7BDF21),to(#60AE1A));
	background-image: -webkit-linear-gradient(top,#7BDF21,#60AE1A);
	background-image: -o-linear-gradient(top,#7BDF21,#60AE1A);
	background-image: linear-gradient(to bottom,#7BDF21,#60AE1A);
	background-image: -moz-linear-gradient(top,#7BDF21,#60AE1A);
	background-repeat: repeat-x;
	border-color: #60AE1A #60AE1A #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	font-weight: bold;
}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	color: white;
	background-color: #60AE1A;
}

.btn-dalliz {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #8D6590;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#9d09a7),to(#610667));
	background-image: -webkit-linear-gradient(top,#9d09a7,#610667);
	background-image: -o-linear-gradient(top,#9d09a7,#610667);
	background-image: linear-gradient(to bottom,#9d09a7,#610667);
	background-image: -moz-linear-gradient(top,#9d09a7,#610667);
	background-repeat: repeat-x;
	border-color: #610667 #610667 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	font-weight: bold;
}

.btn-dalliz:hover, .btn-dalliz:active, .btn-dalliz.active, .btn-dalliz.disabled, .btn-dalliz[disabled] {
	color: white;
	background-color: #610667;
}

.separation_verticale{
	width: 1px;
	height: 270px;
	display: inline-block;
	float: left;
	opacity: .75;


	background: #e5e5e5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2IzYjNiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ4ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTVlNWU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #d8d8d8 20%, #b3b3b3 50%, #d8d8d8 80%, #d8d8d8 100%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(20%,#d8d8d8), color-stop(50%,#b3b3b3), color-stop(80%,#d8d8d8), color-stop(100%,#d8d8d8), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#d8d8d8 20%,#b3b3b3 50%,#d8d8d8 80%,#d8d8d8 100%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#d8d8d8 20%,#b3b3b3 50%,#d8d8d8 80%,#d8d8d8 100%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#d8d8d8 20%,#b3b3b3 50%,#d8d8d8 80%,#d8d8d8 100%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#d8d8d8 20%,#b3b3b3 50%,#d8d8d8 80%,#d8d8d8 100%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */

}

.add_to_cart{
	cursor: pointer;
}

.add_to_cart .plus{
	background-image: url(../images/product/etoile_sprits.png);
	height: 15px;
	width: 15px;
	vertical-align: text-top;
	display: inline-block;
}

.add_to_cart .text{
	font-family: arial;
	font-weight: bold;
	display: inline-block;
	background-image: url(/static/images/add-cart-sprits.png);
	height: 22px;
	color: white;
	line-height: 13px;
	border: none;
}

.add_to_cart .text:hover{
	background-position: 0px -24px;
}

.add_to_cart .text:active{
	background-position: 0px -48px;
}

.user{
	width: 200px;
	display: inline-block;
	position: relative;
	top: -34px;
	float: right;
	display: table;
}

.user a{
	display: table-cell;
	vertical-align: top;
	text-decoration: none;
}

.user .cart{
	background-image: url(../images/header/cart.png);
	height: 32px;
	width: 34px;
	display: inline-block;
}

.user .quantity{
	width: 16px;
	height: 16px;
	background-color: #81E923;
	color: white;
	text-align: center;
	font-weight: bold;
	border-radius: 17px;
	border-color: white;
	border-style: solid;
	border-width: 3px;
	display: inline-block;
	position: relative;
	top: -23px;
	left: -17px;
	line-height: 15px;
	cursor: pointer;
}

.user .quantity[data-quantity="0"], .user .quantity[data-quantity=""]{
	display: none;
}

.user .account{
	height: 40px;
}
.user .account, .user ul.hoverbox a{
	font-family: arial;
	font-weight: bold;
	color: white;
}

.user .iconuser{
	background-image: url(../images/header/user-icon.png);
	width: 14px;
	height: 16px;
	display: inline-block;
	position: absolute;
	left: 43px;
	top: 4px;
}

.user .arrowdown{
	background-image: url(../images/header/icon-fleche.png);
	width: 15px;
	height: 9px;
	display: inline-block;
	position: absolute;
	right: 7px;
	top: 8px;
}

.user .username{
	height: 21px;
	overflow: hidden;
	display: inline-block;
	width: 90px;
	position: relative;
	left: 10px;
	text-align: center;
}

.user ul.hoverbox{
	display: none;
	position: absolute;
	left: 39px;
	top: 23px;
	list-style: none;
	text-decoration: none;
	background-color: #212121;
	width: 120px;
	height: 60px;
}

.user ul.hoverbox li{
	font-size: 12px;
	padding-left: 12px;
}

.account:hover >  ul.hoverbox{
	display: block;
}

.explanation{
	color: #d82121;
	font-family: brankovic;
	text-align: center;
	width: 150px;
	position: absolute;
	top: 0px;
	left: -140px;
}

.explanation .arrow{
	background-image: url(../images/home/fleche.png);
	width: 79px;
	height: 71px;
	float: right;
}

.explanation .text{
	width: 150px;
}