#sub_nav{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 80px;
	z-index: 97;
}

#sub_nav.navbar-inverse .navbar-inner{
	background-color: #424242 !important;
}

#sub_nav .nav{
	/*width: 100%;*/
	display: inline;
}

#sub_nav a{
	color: white;
	font-size: 11px;
	line-height: 23px;
	text-align: center;
}

#sub_nav a.active{
	color: #C97DCE;
}
#sub_nav li{
	/*max-width: 112px;*/
	height: 32px;
	overflow: hidden;
}


.content{
	margin-top: 112px;
	height: 1px; /*Nasty hack for firefox*/
}
#brands {
	width: 140px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

/* Styling checkbox */
#brands input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	z-index: 10;
}

#brands input[type="checkbox"] + label::before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-left: -8px;
	background: url("../images/category/cases.png") no-repeat 0 0;
	background-repeat: no-repeat;
	position: relative;
	left: -17px;
	top: -2px;
}

#brands input[type="checkbox"]:checked + label::before {
	background-position: 0 -9px;
}

#brands label{
	font-size: 9pt;
	margin-left: 8px;
	line-height: 12px;
}

#brands label span{
	color: #8C8C8C;
}

#category{
	position: relative;
	float: left;
	width: 790px;
	margin-left: 10px;
	min-height: 600px;
}

#category .sorting{
	height: 32px !important;
	padding-left: 10px;
	margin-bottom: 10px;
}

#category .products{
	margin-left: -10px;
	width: 800px;
}

#category .product{
	text-align: center;
	float: left;
	width: 150px;
	height: 250px;
	margin-left: 10px;
	margin-bottom: 10px;
}

#category .product img{
	width: 130px;
	height: 130px;
	padding-top: 10px;
}

#category .product .brand, #brands h4, #category .sorting{
	font-family: arial;
	font-weight: bold;
	font-size: 11pt;
	color: #212121;
	height: 20px;
	overflow-y: hidden;
}

#category .product .product_name{
	font-family: arial;
	font-size: 9pt;
	color: #212121;
	height: 44px;
	line-height: 14px;
	display: block;
	vertical-align: middle;
	width: 150px;
	overflow-y: hidden;
}

#category .product .price{
	font-family: arial;
	font-weight: bold;
	font-size: 12pt;
	color: #9E09A8;
}

#category .sorting *{
	margin-top: 6px;
}

#category .dropdown{
	position: absolute;
	top: 6px;
	left: 109px;
}

#category .dropdown a{
	font-family: arial;
	font-weight: regular;
	color: #8C8C8C;
	text-decoration: none;
}

.product .add_to_cart .text{
	font-size: 10pt;
}