.content .container{
	margin-bottom: 5px;
	background-color: white;
}

/* Slide Show block */
#slide_show{
	position: relative;
	height: 350px;
}

#slide_show .slides_container{
	width: 100%;
	height: 100%;
}

#slide_show .slides_container div {
	width: 960px;
	height: 100%;
	display:block;
}

#slide_show .slides_container div img{
	position: absolute;
	right: 80px;
	top: 20px;
}

#slide_show .pagination {
	margin:-25px auto 0;
	margin-right: 360px;
	width:39px;
	position: relative;
	z-index: 9999;
}

#slide_show .pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

#slide_show .pagination li a {
	display: block;
	width: 11px;
	height: 0;
	padding-top: 12px;
	background-image: url(../images/home/pagination.png);
	background-position: 0px 0px;
	float: left;
	overflow: hidden;
}

#slide_show .pagination li.current a {
	background-position:-9px 0px;
}

/* Call to action in slide show */
#slide_show .cta{
	position: absolute;
	top: 125px;
	z-index: 99;
}

#slide_show .cta .message{
	font-family: brankovic;
	margin-left: 10px;
	color: #9E09A8;
	font-size: 30px;
	line-height: 30px;
}

#slide_show button{
	left: 80px;
	position: absolute;
	top: 110px;
}

/* Online Supermarkets*/
#osms{
	height: 160px;
}

#osms .row div{
	height: 160px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

#osms .row div a{
	display: block;
	width: inherit;
	height: inherit;
}

#osms .ooshop{
	background-image: url(../images/osms/ooshop.png);
	background-size: 120px !important;
}

#osms .place_du_marche{
	background-image: url(../images/osms/place_du_marche.png);
}

#osms .simply_market{
	background-image: url(../images/osms/simply_market.png);
    background-position: 50% 55% !important;
}

#osms .coursengo{
	background-image: url(../images/osms/coursengo.png);
}

#osms .monoprix{
	background-image: url(../images/osms/monop.gif);
}

#osms .telemarket{
	background-image: url(../images/osms/logo_telemarket.jpg);
}

#osms .row{
	margin-left: 0px;
}

#osms [class*="span"]{
	float: left;
	min-height: 1px;
	margin-left: 10px;
	margin-right: 10px;
}

/* Comercial pitch */
#pitch{
	height: 380px;
	margin-bottom: 0px;
	text-shadow: 0 1px 0 white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-smooth: always;
}

#pitch .image_bloc{
	width: 220px;
	height: 220px;
	background-position: center;
	background-repeat: no-repeat;
	margin: auto;
}

#pitch .compose{
	background-image: url(../images/pitch/compose.png);

}

#pitch .compare{
	background-image: url(../images/pitch/compare.png);
}

#pitch .commande{
	background-image: url(../images/pitch/commande.png);
}


#pitch .row div{
	margin-top: 15px;
}

#pitch h3{
	font-family: bpreplay;
	text-align: center;
}

#pitch p{
	color: #212121;
	font-family: Arial;
	margin: auto;
	width: 228px;
}