@font-face{
	font-family: Brankovic;
	src: url('../fonts/brankovic.ttf');
	font-weight:bold;
}

.content .container{
	margin-bottom: 5px;
	background-color: white;
}

/* Slide Show block */
#slide_show{
	position: relative;
	height: 350px;
}

#slide_show .slides_container{
	width: 100%;
	height: 100%;
}

#slide_show .slides_container div {
	width: 960px;
	height: 100%;
	display:block;
}

#slide_show .slides_container div img{
	position: absolute;
	right: 80px;
	top: 20px;
}

#slide_show .pagination {
	margin:-25px auto 0;
	margin-right: 360px;
	width:39px;
	position: relative;
	z-index: 99999999;
}

#slide_show .pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

#slide_show .pagination li a {
	display: block;
	width: 11px;
	height: 0;
	padding-top: 12px;
	background-image: url(../images/pagination.png);
	background-position: 0px 0px;
	float: left;
	overflow: hidden;
}

#slide_show .pagination li.current a {
	background-position:-9px 0px;
}

/* Call to action in slide show */
#slide_show .cta{
	position: absolute;
	top: 125px;
	z-index: 99999;
}

#slide_show .cta .message{
	font-family: brankovic;
	margin-left: 10px;
	color: #9E09A8;
	font-size: 30px;
	line-height: 30px;
}

#slide_show button{
	left: 80px;
	position: absolute;
	top: 110px;
}

/* Online Supermarkets*/
#osms{
	height: 160px;
}

/* Comercial pitch */
#pitch{
	height: 380px;
	margin-bottom: 0px;
}