#mentions{
	height: 600px;
	width: 920px;
	padding: 20px;
}

#mentions h1, #mentions h3{
	font-family: Arial;
	font-weight: bold;
	margin-bottom: 30px;
}

#mentions p{
	margin-left: 10px;
}

#mentions p em{
	font-weight: bold;
}