#propos .motos h3{
	text-align: left;
	margin-left: 10px;
}

#propos .motos .span12{
	width: 920px;
}

#propos .cta{
	height: 130px;
	position: relative;
}

#propos .cta button{
	position: absolute;
	right: 310px;
	bottom: 50px;
}

#propos .motos p{
	width: initial;
}

#propos .motos .span6{
	width: initial;
}