{{# osm_brand}}
<div id="osm">
	<div class="row">
		<div class="span12">
			<h1 class='osm_brand span6'> {{ name }}  </h1>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<button type="button" id="btn-cancel" class="btn btn-danger" data-id="{{id}}"> No Match</button>
		</div>
		{{#is_set_previous_id}}
			<div class="span3">
				<button type="button" id="btn-previous" class="btn btn-primary" data-id="{{previous_id}}"> Previous</button>
			</div>
		{{/is_set_previous_id}}
		{{#is_set_next_id}}
			<div class="span3">
				<button type="button" id="btn-next" class="btn btn-primary" data-id="{{next_id}}"> Next</button>
			</div>
		{{/is_set_next_id}}
	</div>
</div>
{{/ osm_brand}}

<div id="matches" class="row">
	<div class="span12">
		<table class="table  table-striped">
			<thead>
				<tr class='info'>
					<th>id</th>
					<th>Marque Dalliz</th>
					<th>Score</th>
					<th>Ajouter cette marque</th>
				</tr>
			</thead>
			<tbody>
				{{#dalliz_brands}}
					<tr {{#is_match}}class="info"{{/is_match}}> 
						<td>{{id}}</td>
						<td><strong>{{name}}</strong></td>
						<td><i>{{score}}</i></td>
						<td><button class="btn btn-success btn-selection" data-id="{{id}}">Ajouter cette marque</button></td>
					</tr>
				{{/dalliz_brands}}
			</tbody>
		</table>
	</div>
</div>

<div id='more'>
	<h3>Ajouter une marque manquante</h3>
	<input id="autocomplete"/>
	<button class ='btn btn-success'> Matcher avec cette marque</button>

	<!-- <script type="text/javascript">
		
	// 	$(document).ready(function(){
	// 		var osm = template_value['osm_brand']['osm'];
	// 		$('#autocomplete').autocomplete({
	// 			source: "backend/matcher/"+osm+"/brand/autocomplete/",
	// 			minLength: 2,
	// 			select: function( event, ui ) {
	// 				console.log( ui.item ? "Selected: " + ui.item.value + " aka " + ui.item.id : "Nothing selected, input was " + this.value );
	// 			}
	// 	    });
	// 	});

	// </script> -->

</div>