	<!-- CART -->
	<link rel="stylesheet" type="text/css" href="cart.css">

	<div id="cart" class="transition">
		<div id="cart-header">
			<div id="sel-osm-cart">
				<p>Panier équivalent chez</p>
				<div class='<%= suggested %>'></div>
			</div>
			<div id="active-osm-cart">
				<p>Mon panier chez</p>
				<div class='<%= name %>'></div> 
			</div>
		</div>
		<div class="scrollarea">
			
			


			<!-- Category -->
			<!-- <div id="cart-recap-accordion">
				<div class="accordion-header">
					<div>
						<span></span>
						<p>épicerie salée</p>
						<p>6.74 €</p>
					</div>

					<div>
						<span></span>
						<p>épicerie salée</p>
						<p>5.74 €</p>
					</div>
				</div>
				<div class="products-recap">
					<div class="product-recap">
						<div class="sel-osm-product">
							<img src="http://courses.monoprix.fr/assets/ctx/2096589626/static/photos/16/51/53/7/g-1651537.jpg">
							<div class="prod-desc">
								<p>Lavazza</p>
								<p>Grains de café, Espresso ksjdlks dsdjksd jksj ddsjd ev</p>
							</div>
							<div class="qte" id="recap-price-qty">
								<div class="price-bloc" id="recap-qty">
									<p>200 g</p>
									<p>18.95 €/Kg</p>
									<p>4.17 €</p>
								</div>
								<a class="plus">+</a>
								<a class="minus">-</a>
								<a class="how-much">1</a>
							</div>
						</div>
						<div class="active-osm-product">
							<img src="http://courses.monoprix.fr/assets/ctx/2096589626/static/photos/16/51/53/7/g-1651537.jpg">
							<div class="prod-desc">
								<p>Lavazza</p>
								<p>Grains de café, Espresso</p>
							</div>
							<div class="qte" id="recap-price-qty">
								<div class="price-bloc" id="recap-qty">
									<p>200 g</p>
									<p>4.31 €</p>
									<p>2.43 €/kg</p>
								</div>
								<a class="plus">+</a>
								<a class="minus">-</a>
								<a class="how-much">1</a>
							</div>
						</div>
					</div>
				</div>
			</div> -->

		</div>
	</div>