<div class="products">
	<div class="products-header <% if (name === 'promotions') {%> promotion <%}%>">
		<p ><%= name %> (<%= count %>)</p>	
		<p> <%= brands.count %> </p>
		<p> marques : toutes </p>
		<span></span>
		<p>Filtres</p>
		<span></span>
	</div>

	<%if (count>threshold && !touch) {%>
	<div class="controller left" data-id='<%= id %>'></div>
	<%}%>
	<div class='inner'>
		<div class='products-container transition-l'></div>
	</div>
	<%if (count>threshold && !touch) {%>
		<div class="controller right" data-id='<%= id %>'></div>
	<%}%>
</div>