<div class="accordion-header">
	<div>
		<span></span>
		<p><%= name %></p>
		<p><%= eval(suggested+'_price').toFixed(2) %> €</p>
	</div>
	<div>
		<span></span>
		<p><%= name %></p>
		<p><%= price.toFixed(2) %> €</p>
	</div>
</div>
<div class="products-recap">
	<div class="product-recap">
		<div class="unavailable-mask">
			<div></div>
			<div>voir d'autres produits de remplacement</div>
		</div>
		<div class="sel-osm-product">
			<img src="http://courses.monoprix.fr/assets/ctx/2096589626/static/photos/12/79/46/8/g-1279468.jpg">
			<div class="prod-desc">
				<p>Maison du Café</p>
				<p>Dosettes de café saveur vanille et crème de liqueur, Rio de Janeiro</p>
			</div>
			<div class="qte" id="recap-price-qty">
				<div class="price-bloc" id="recap-qty">
					<p>200 g</p>
					<p>2.43 €/kg</p>
					<p>2.43</p>
				</div>
				<a class="plus">+</a>
				<a class="minus">-</a>
				<a class="how-much">1</a>
			</div>
		</div>
		<div class="active-osm-product">
			<img src="http://courses.monoprix.fr/assets/ctx/2096589626/static/photos/12/79/46/8/g-1279468.jpg">
			<div class="prod-desc">
				<p>Maison du Café</p>
				<p>Dosettes de café saveur vanille et crème de liqueur, Rio de Janeiro</p>
			</div>
			<div class="qte" id="recap-price-qty">
				<div class="price-bloc" id="recap-qty">
					<p>200 g</p>
					<p>2.43 €/kg</p>
					<p>2.43 €</p>
				</div>
				<a class="plus">+</a>
				<a class="minus">-</a>
				<a class="how-much">1</a>
			</div>
		</div>
	</div> 
</div>