<a href="#" class="mere">
	<div class="icone">
		<img src="/static/frontend/img/menu/1.png">
	</div>
	<p class="name">{{name}}</p>
</a>
<div class="submenu">
	<ul class="dropdown">
		<li><a href="#">Apéritifs</a></li>
		<li><a href="#">Pizzas</a></li>
		<li><a href="#">Tartes & quiches</a></li>
		<li><a href="#">Sandwichs & snacks</a></li>
		<li><a href="#">Pâtes fraîches</a></li>
		<li><a href="#">Pâtes à tartes</a></li>
		<li><a href="#">Plats cuisinés</a></li>
	</ul>
	<ul class="dropdown">
		<li><a href="#">Soja & tofu</a></li>
		<li><a href="#">Asba Ahmed</a></li>
	</ul>
</div>