<% if(eval(suggested+'_content').is_suggested) {%>
	<div class="unavailable-mask">
		<div></div>
		<div></div>
		<div>Voir d'autres produits de remplacement</div>
	</div>
<%}%>


<div class="sel-osm-product">
	<img src="<%= eval(suggested+'_product').image_url %>">
	<div class="prod-desc">
		<p><%= eval(suggested+'_product').brand.name %></p>
		<p><%= eval(suggested+'_product').name %></p>
	</div>
	<div class="qte" id="recap-price-qty">
		<div class="price-bloc" id="recap-qty">
			<p><%= eval(suggested+'_product').package.package_quantity %> x <%= eval(suggested+'_product').package.package_measure %> <%= eval(suggested+'_product').package.package_unit %></p>
			<p><%= eval(suggested+'_product').history[0].unit_price %> €/<%= eval(suggested+'_product').unit.name %></p>
			<p><%= eval(suggested+'_product').history[0].price %> €</p>
			<% if( eval(suggested+'_product').history[0].is_promotion ){ %>
				<div id="osm-recap-promo">
					<div class="promo-shadow"></div>
					<div class="promo-type"> <%= (((eval(suggested+'_product').history[0].price-eval(suggested+'_product').history[0].before)/eval(suggested+'_product').history[0].before).toFixed(2)*100).toFixed(0) %>% </div>
				</div>
			<% } %> 
		</div>
		<a class="plus">+</a>
		<a class="minus">-</a>
		<a class="how-much"><%= eval(suggested+'_content').quantity%></a>
	</div>
</div>


<div class="active-osm-product">
	<img src="<%= product.image_url %>">
	<div class="prod-desc">
		<p><%= product.brand.name %></p>
		<p><%= product.name %></p>
	</div>
	<div class="qte" id="recap-price-qty">
		<div class="price-bloc" id="recap-qty">
			<p><%= product.package.package_quantity %> x <%= product.package.package_measure %> <%= product.package.package_unit %></p>
			<p><%= product.history[0].unit_price %> €/<%= product.unit.name %></p>
			<p><%= product.history[0].price %> €</p>
		</div>
		
		<a class="plus">+</a>
		<a class="minus">-</a>
		<a class="how-much"><%= quantity%></a>
	</div>
</div>