<div class="mere">
	<div class='divider'></div>
	<div class="icone economiser"></div>
	<p class="name">économiser</p>
</div>
<div class="sub-menu-panel">
    <ul class="dropdown">
        <li>
        	<a href="">
        		<div class="vert-align-cont">
        			<p class="level-2-active"><%= price_to_save.toFixed(2)%> €</p>
        			<div class="sub-menu-panel-divider"></div>
        		</div>
        	</a>
        </li>
        <li>
        	<a href="">
        		<div class="vert-align-cont">
        			<p class="level-2-active"><%= price_cart.toFixed(2) %> €</p>
        		</div>
        	</a>
        </li>	
	</ul>
</div>