<div class="osms-switch open">
	<a class="osms-switch-close">×</a>
	<div id="osms-switch-header">Changer de magasin pour économiser plus</div>
	<div class="osms-switch-active">

	</div>
	<div id="switch-icon"><img src="/static/frontend/img/switch/popup-switch.png"></div>
	<div class='inactive-area'>
		<!-- <div class="osms-switch-inactive">
			<div id="auchandirect"></div>
			<p class="osms-switch-price">20,45 €</p>
			<p class="osms-switch-shipping">dont frais de livraison : 10 €</p>
			<p>2 produits substitués</p>
			<a class="cta comparer no-hijax">Choisir ce magasin</a>
		</div>
		<div class="osms-switch-inactive">
			<div id="ooshop"></div>
			<p class="osms-switch-price">25,45 €</p>
			<p class="osms-switch-shipping">dont frais de livraison : 8,99 €</p>
			<p>2 produits substitués</p>
			<a class="cta comparer no-hijax">Choisir ce magasin</a>
		</div> -->
	</div>
</div>
<div class="osms-switch-bg open"></div>