<!-- CART -->
<div id="cart" class="transition">
	<div id="cart-header">
		<div id="active-osm-cart">
			<div class='<%= name %>'></div> 
			<a class="cta commander no-hijax" id="cta-cart">COMMANDER</a>
			<p class='empty'> Vider le panier</p>
		</div>
	</div>
	<div class="scrollarea">

	</div>
	<div id="osms-area">
		<div class="osm-recap">
			<div class="ooshop"></div>
			<div class="total">43,45 €</div>
			<div id="label-1">Dont frais de livraison :</div>
			<div id="label-2">9,99 €</div>
			<div id="label-3">Points de fidélité :</div>
			<div id="label-4">+ 34 pts</div>
			<div id="label-5">2 produits substitués</div>
			<a class="cta comparer no-hijax">Choisir ce magasin</a>
		</div>
	</div>
</div>