<!-- CART -->
<div id="cart" class="transition">
	<div id="cart-header">
		<div id="active-osm-cart">
			<div class='<%= name %>'></div> 
			<a class="cta commander no-hijax" id="cta-cart">COMMANDER</a>
			<p class='empty'> Vider le panier</p>
		</div>
		<% if(-price_to_save>0){%>
		<div id="savings">
			<div>économisez jusqu'à</div>
			<div><%= -price_to_save.toFixed(2) %>€</div>
		</div>
		<% }%>
	</div>
	
	<div class="scrollarea">

	</div>

	<div id="osms-area">
		<% for (var i = 0; i<osms.length; i++){
			var osm = osms[i];

			if(!osm.active){

		%>
		<div class="osm-recap">
			<div class="<%= osm.name %>"></div>
			<div class="total"><%= osm.price.toFixed(2) %> €</div>
			<div>
				<div id="label-1">Dont frais de livraison:</div>
				<div id="label-2">9,99€</div>
			</div>
			<div>
				<div id="label-3">Points de fidélité:</div>
				<div id="label-4">+ 34 pts</div>
			</div>
			<div>
				<% if (osm.substitution>0) { %>
					<div id="label-5">
						<%= osm.substitution %> produit<% if (osm.substitution>1) print('s');%> substitué<% if (osm.substitution>1) print('s');%>
					</div>
				<%}%>
				<a class="cta comparer no-hijax" data-osm="<%= osm.name %>">Choisir ce magasin</a>
				<div class="loader"></div>
			</div>
		</div>
		<%}}%>
		
	</div>
</div>