<div class="products" data-id='<%= id %>'>
	<div class="loader"></div>
	<div class="products-header <% if (name === 'promotions') {%> promotion <%}%>">
		<p><%= name %> (<%= count %>)</p>	
		<p class='brands-controller' data-id='<%= id %>'> <%= brands.count %> </p>
		<p class='brands-controller' data-id='<%= id %>'> marques : toutes </p>
		<span class='brands-controller' data-id='<%= id %>'></span>
		<p>Filtres</p>
		<span class='price-filter-controller' data-id='<%= id %>'></span>
		<ul class="brands"></ul>
		<ul class="price-filter"></ul>
	</div>

	<%if (count>threshold) {%>
	<div class="controller left" data-id='<%= id %>'></div>
	<%}%>
	<div class='inner'>
		<div class='products-container transition-l'></div>
	</div>
	<%if (count>threshold) {%>
		<div class="controller right" data-id='<%= id %>'></div>
	<%}%>
</div>