<div id="exportModal" class="reveal-modal">
	<a class="close-reveal-modal">&#215;</a>
	<div id="modal-header">Je commande mon panier chez <%= _(name).capitalize()%></div>
	<div id="sign-in">
		<p>Saisissez vos identifiants d'accès :</p>
		<p>Votre mot de passe ne servira que lors de cet import et ne sera pas mémorisé</p>
		<form>
			<div class="form-container">
				<input type="email" placeholder="Email">
				<img src="/static/dalliz/images/home/mail.png">
			</div>
			<div class="form-container">
				<input type="password" placeholder="Mot de passe">
				<img src="/static/dalliz/images/home/lock.png">
			</div>
		</form>
		<p>Mot de passe oublié ?</p>
		<a id="sign-in-button" href="#">Exporter</a>
		<div id="import-loader"></div>
		<div class="reveal-modal-bg import-loader-bg"></div>
	</div>
</div>
<div class="reveal-modal-bg"></div>