<div id="importModal" class="reveal-modal">
	<a class="close-reveal-modal">&#215;</a>
	<div id="modal-header">Avez-vous déjà fait vos courses en ligne ?</div>
	<div id="sign-in">
		<p>Pour importer votre liste de courses :</p>
		<p>Sélectionnez votre supermarché préféré :</p>
		<table id="osms">
			<tbody>
				<tr>
					<% for (var i = 0; i<osms.length; i++) {
						osm = osms[i];
						%>
						<td class='<%=osm.name%> <% if(osm.active) print('active')%>'><div></div></td>
					<% }%>
				</tr>
			</tbody>
		</table>
		<p>Puis saisissez vos identifiants d'accès :</p>
		<p>Votre mot de passe ne servira que lors de cet import et ne sera pas mémorisé</p>
		<form>
			<div class="form-container">
				<input type="email" placeholder="Email">
				<img src="/static/dalliz/images/home/mail.png">
			</div>
			<div class="form-container">
				<input type="password" placeholder="Mot de passe">
				<img src="/static/dalliz/images/home/lock.png">
			</div>
		</form>
		<p>Mot de passe oublié ?</p>
		<a id="sign-in-button" href="#">Importer</a>
		<div id="import-loader"></div>
		<div class="reveal-modal-bg import-loader-bg"></div>
	</div>
</div>
<div class="reveal-modal-bg"></div>