<%
	suggested_product = eval(suggested+'_product');
	suggested_content = eval(suggested+'_content');

%>

<% if (is_suggested){%>
	<div class='unavailable-mask'>
		<div class='replacement'></div>
	</div>
<%}%>
<div class="active-osm-product <%if(is_suggested) print('grey-mask') %>">
	<img src="<%= product.image_url %>">
	<div class="prod-desc">
		<%if(is_suggested){ %> <p>Produit de remplacement</p> <%} %>
		<p><% if(product.brand) print(product.brand.name); %></p>
		<p><%= product.name %></p>
	</div>
	<div class="qte" id="recap-price-qty">
		<div class="price-bloc" id="recap-qty">
			<p><%= product.package.package_quantity %> x <%= product.package.package_measure %> <%= product.package.package_unit %></p>
			<% if (product.history.length>0){ %>
				<p><%= product.history[0].unit_price %>€/<%= product.unit.name %></p>
				<p><%= product.history[0].price %>€</p>
				<% if( product.history[0].is_promotion ){ %>
					<div class="osm-recap-promo">
						<div class="promo-shadow"></div>
						<div class="promo-type"> <%= (((product.history[0].price-product.history[0].before)/product.history[0].before).toFixed(2)*100).toFixed(0) %>% </div>
					</div>
				<% 		}
				} %> 
		</div>

		<% if (!is_suggested){%>
			<a class="plus">+</a>
			<a class="minus">-</a>
			<a class="how-much"><%= quantity%></a>
		<%}%>
		
	</div>
</div>