<div class="box">
	<%if (is_suggested){%>
		<div class="unavailable-mask">
			<div></div>
			<div></div>
		</div>
	<%}%>
	<div class="top-bloc">
		<div class="img-bloc">
			<img src="<%= product.image_url %>">
		</div>
		<p><% if(product.brand) print(product.brand.name); %></p>
		<p><%= product.name %></p>
		<p> <%= product.package.package_quantity %> x <%= product.package.package_measure %> <%= product.package.package_unit %></p>
		
		<% if(quantity === 0) {%>
			<a class='add-cart no-hijax'></a>
		<%}%>


		<% if( product.history[0].is_promotion ){%>
				<div class="promo-shadow"></div>
				<div class="promo-type"> <%= (((product.history[0].price-history[0].before)/product.history[0].before).toFixed(2)*100).toFixed(0) %>% </div>

		<%}%>
	</div>

	<% if(quantity !== 0) {%>
		<div class="mask-bloc">

			<% if( !product.history[0].is_promotion ){ // NO PROMOTION%>

				<div class="qte">
					<div class="price-bloc price-mask">
						<p><%= product.history[0].price %>€</p>
						<p><%= product.history[0].unit_price %> €/<%= product.unit.name%></p>
					</div>
					<a class="plus no-hijax">+</a>
					<a class="minus no-hijax">-</a>
					<a class="how-much no-hijax"><%=quantity%></a>
				</div>

			<%}else{ // PROMOTION%> 

				<div class="qte">
					<div class="price-bloc-promo price-mask">
						<p class="promo-line"><%= product.history[0].before %>€</p>
						<p><%= product.history[0].price %> €</p>
						<p><%= product.history[0].unit_price %> €/<%= product.unit.name%></p>
					</div>
					<a class="plus no-hijax">+</a>
					<a class="minus no-hijax">-</a>
					<a class="how-much no-hijax"><%=quantity%></a>
				</div>
				<div class="promo-shadow"></div>
				<div class="promo-type"> <%= (((product.history[0].price-history[0].before)/product.history[0].before).toFixed(2)*100).toFixed(0) %>% </div>

			<%}%>
		</div>
	<% }else{%>
		<% if( !product.history[0].is_promotion ){%>
			<div class="price-bloc">
				<p><%= product.history[0].price %>€</p>
				<p><%= product.history[0].unit_price %> €/<%= unit.name%></p>
			</div>
		<%}else{%>
			<div class="price-bloc-promo">
				<p><%= product.history[0].before %>€</p>
				<p><%= product.history[0].price %> €</p>
				<p><%= product.history[0].unit_price %> €/<%= product.unit.name%></p>
			</div>
		<%}%>
	<% } %>
</div>