<div class="login">
	<div class="header btn-dalliz">Bienvenue sur Dalliz !</div>
	<form action='/login' method="post">
		<div class="form_content">

			<div class="inputs">
				<input type="email" name="email" class="mail" placeholder="Email" ></input>
				<input type="password" name="password" class="password" placeholder="Mot de passe" ></input>
			</div>
			<div class="submits">
				<input type="submit" name="connect" class="connect btn btn-dalliz" value="Se connecter"></input>
				<input type="submit" name="create" class="create btn btn-success" value="S'inscrire"></input>
			</div>
			<div class="forgot">
				<a href="/mot-de-passe-oublie" rel="nofollow"> Mot de passe oublié?</a>
			</div>
		</div>
	</form>

</div>